In [3]:
import pandas as pd

In [4]:
titles_df = pd.read_csv('data/titles 1 of 2.csv')

In [5]:
titles_df.shape

(5850, 15)

In [6]:
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 685.7+ KB

In [7]:
titles_df.head(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [8]:
titles_df.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,5850.000000,5850.000000,2106.000000,5368.000000,5.352000e+03,5759.000000,5539.000000
mean,2016.417094,76.888889,2.162868,6.510861,2.343938e+04,22.637925,6.829175
std,6.937726,39.002509,2.689041,1.163826,9.582047e+04,81.680263,1.170391
min,1945.000000,0.000000,1.000000,1.500000,5.000000e+00,0.009442,0.500000
25%,2016.000000,44.000000,1.000000,5.800000,5.167500e+02,2.728500,6.100000
50%,2018.000000,83.000000,1.000000,6.600000,2.233500e+03,6.821000,6.900000
75%,2020.000000,104.000000,2.000000,7.300000,9.494000e+03,16.590000,7.537500
max,2022.000000,240.000000,42.000000,9.600000,2.294231e+06,2274.044000,10.000000

In [9]:
titles_df.isnull().sum().sort_values()

id                         0
type                       0
release_year               0
runtime                    0
genres                     0
production_countries       0
title                      1
description               18
tmdb_popularity           91
tmdb_score               311
imdb_id                  403
imdb_score               482
imdb_votes               498
age_certification       2619
seasons                 3744
dtype: int64

In [10]:
titles_df.duplicated('id').sum()

0

In [11]:
titles_df.duplicated('title').sum()

51

In [12]:
titles_df[titles_df.duplicated('title')]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
294,tm78067,The Girl Next Door,MOVIE,In a quiet suburban town in the summer of 1958...,2007,R,91,"['crime', 'drama', 'horror', 'thriller']",['US'],NaN,tt0830558,6.5,26293.0,13.131,6.700
304,tm102337,A Nightmare on Elm Street,MOVIE,The film that brings back horror icon Freddy K...,2010,R,95,"['horror', 'thriller', 'crime', 'drama']",['US'],NaN,tt1179056,5.2,99894.0,39.672,5.500
513,tm54147,Dostana,MOVIE,Two straight guys who pretend to be a gay coup...,2008,PG-13,142,"['drama', 'romance', 'comedy']","['IN', 'US']",NaN,tt1185420,6.5,15063.0,8.613,6.200
515,ts19384,A Lion in the House,SHOW,Five families struggle with the ups and downs ...,2006,TV-14,190,['documentation'],['US'],1.0,NaN,NaN,NaN,1.487,7.500
1208,tm209987,Christine,MOVIE,"In the 1970s, a television reporter Christine ...",2016,R,123,['drama'],['US'],NaN,tt4666726,6.9,15146.0,11.100,6.800
1232,ts42655,Wanted,SHOW,"Two complete strangers, Lola and Chelsea, inte...",2016,TV-14,45,"['crime', 'drama', 'action']",['AU'],3.0,tt5193358,7.6,5920.0,12.755,7.200
1290,ts37779,Danger Mouse,SHOW,"Danger Mouse is back saving London, saving the...",2015,NaN,12,"['comedy', 'action', 'crime', 'family', 'fanta...",['GB'],2.0,tt4196822,7.2,587.0,6.326,7.600
1380,tm248010,Taxi Driver,MOVIE,A small-town mechanic turned chauffeur for the...,2015,NaN,100,"['comedy', 'crime', 'drama']",['NG'],NaN,tt5112438,6.0,69.0,1.191,5.300
1459,tm232710,A Second Chance,MOVIE,"Popoy and Basha have had a wonderful wedding, ...",2015,NaN,130,"['drama', 'romance', 'family', 'documentation'...",['PH'],NaN,tt5226380,8.6,47.0,2.752,7.100
1557,tm244577,Love O2O,MOVIE,What is it that makes a man fall in love with ...,2016,NaN,105,"['comedy', 'romance', 'drama']",['CN'],NaN,tt6093452,6.4,1039.0,7.811,6.900
1596,tm234292,The Heirs,MOVIE,Teenagers’ leisure at full swing: a group of f...,2015,NaN,71,['drama'],['MX'],NaN,tt2903370,5.7,223.0,1.309,5.700
1730,ts81884,Bodyguard,SHOW,A troubled war veteran is assigned to protect ...,2018,TV-MA,60,"['war', 'drama', 'thriller', 'crime', 'european']",['GB'],2.0,tt7493974,8.1,118124.0,19.085,7.900
1871,ts57424,The Forest,SHOW,"In a small quiet village in the Ardennes, a si...",2017,TV-MA,52,"['drama', 'crime', 'thriller', 'european']",['FR'],1.0,tt6560040,7.2,10234.0,18.051,7.100
1987,ts56201,Cloudy with a Chance of Meatballs,SHOW,"The series is a prequel, featuring the high sc...",2017,TV-Y7,11,"['action', 'fantasy', 'scifi', 'animation', 'c...",['CA'],2.0,tt7584168,3.4,750.0,8.750,5.600
2046,ts81885,The Good Cop,SHOW,Honest cop Tony Jr. gets advice from his unscr...,2018,TV-PG,46,"['drama', 'comedy', 'crime', 'documentation']",['US'],1.0,tt7183074,6.9,5732.0,8.714,6.400
2097,ts75620,Black,SHOW,"A Grim Reaper, a detective and a woman who for...",2017,TV-MA,78,"['scifi', 'drama', 'action', 'thriller', 'horr...",['KR'],2.0,tt7298976,7.9,3891.0,39.083,8.000
2099,ts58175,She's Gotta Have It,SHOW,Nola Darling struggles to define herself and d...,2017,TV-MA,35,['comedy'],['US'],2.0,tt3713588,6.7,4695.0,6.031,6.600
2259,tm311319,Manhunt,MOVIE,"Accused of a murder he didn't commit, a prosec...",2017,NaN,106,"['thriller', 'action', 'crime']","['HK', 'CN']",NaN,tt4537986,5.2,3247.0,11.686,5.600
2271,ts78053,Kakegurui,SHOW,Children from influential families in politics...,2018,TV-MA,25,"['thriller', 'drama']",['JP'],2.0,tt7691766,6.7,1005.0,24.549,7.900
2631,tm362264,The Gift,MOVIE,Mashoto’s life in the city is a hustle. It’s a...,2017,NaN,85,['drama'],['TZ'],NaN,tt6856604,8.0,25.0,1.030,8.000
3089,tm824398,The Platform,MOVIE,"A mysterious place, an indescribable prison, a...",2019,NaN,95,"['scifi', 'thriller', 'horror', 'european']",['ES'],NaN,tt8228288,7.0,213699.0,47.725,7.003
3123,tm460948,Always Be My Maybe,MOVIE,"Reunited after 15 years, famous chef Sasha and...",2019,PG-13,102,"['romance', 'comedy']",['US'],NaN,tt7374948,6.8,55686.0,11.434,6.600
3163,ts221016,Top Boy,SHOW,Two seasoned drug dealers return to the gritty...,2019,TV-MA,53,"['drama', 'crime']",['GB'],3.0,NaN,NaN,NaN,24.305,8.400
3197,tm453862,The Call,MOVIE,Connected by phone in the same home but 20 yea...,2020,NaN,112,"['scifi', 'thriller', 'drama', 'crime', 'horror']",['KR'],NaN,tt10530176,7.1,30772.0,33.987,7.600
3374,tm497383,Sergio,MOVIE,A sweeping drama set in the chaotic aftermath ...,2020,R,118,"['drama', 'history', 'romance', 'documentation']","['JO', 'TH', 'US', 'AL']",NaN,tt6468740,6.2,9698.0,11.893,6.700
3434,ts223344,The Gift,SHOW,A painter in Istanbul embarks on a personal jo...,2019,TV-MA,43,"['thriller', 'drama', 'scifi', 'fantasy']",['TR'],3.0,tt10075318,7.0,21802.0,16.327,7.700
3505,ts357033,A Love So Beautiful,SHOW,Love is as tough as it is sweet for a lovestru...,2020,NaN,23,"['comedy', 'drama']",['KR'],1.0,NaN,NaN,NaN,73.064,8.400
3513,ts251617,Connected,SHOW,Science journalist Latif Nasser investigates t...,2020,TV-14,44,"['documentation', 'comedy']",['US'],1.0,tt12753692,7.5,1724.0,4.812,8.200
3602,ts315066,Vampires,SHOW,"A Paris teen who's half human, half vampire gr...",2020,TV-MA,40,"['scifi', 'fantasy', 'horror', 'drama']",['FR'],1.0,tt11829316,5.7,1289.0,14.702,7.500
3731,ts104840,Skylines,SHOW,"In Frankfurt, A young, talented hip-hop produc...",2019,TV-MA,57,"['crime', 'drama', 'music', 'documentation', '...",['DE'],1.0,tt9184970,7.5,2658.0,3.678,7.100
3863,ts241460,Whispers,SHOW,When suspicions grow around the death of their...,2020,TV-PG,42,"['thriller', 'drama']",['SA'],2.0,NaN,NaN,NaN,1.835,8.300
4155,tm912190,Cargo,MOVIE,"Prahastha, a lonely astronaut, works in a spac...",2019,PG-13,113,"['fantasy', 'scifi', 'drama']",['IN'],NaN,tt8992946,5.6,2929.0,3.503,5.600
4248,tm946277,Love,MOVIE,The story of a family and the various situatio...,2020,NaN,91,"['thriller', 'drama']",['IN'],NaN,tt12573294,7.0,1544.0,2.055,5.900
4315,tm918962,Fearless,MOVIE,A teen gamer is forced to level up to full-tim...,2020,PG,89,"['animation', 'family', 'scifi', 'documentatio...",['CA'],NaN,tt8675288,4.9,1735.0,17.412,6.200
4374,tm483190,Time Out,MOVIE,A woman who works as a DJ is known to live alo...,2019,NaN,93,"['comedy', 'drama', 'romance']",[],NaN,tt9822904,5.9,47.0,NaN,NaN
4505,tm847805,Ludo,MOVIE,"Ludo is about the butterfly effect and how, de...",2020,PG-13,150,"['crime', 'comedy', 'drama', 'action']",['IN'],NaN,tt7212754,7.6,37528.0,10.329,7.500
4735,ts306526,Queen,SHOW,"After a decades-long absence, a renowned Paris...",2022,TV-MA,49,['drama'],['PL'],1.0,tt15096884,7.1,815.0,8.782,7.300
4800,ts85985,Cowboy Bebop,SHOW,"Long on style and perpetually short on cash, b...",2021,TV-MA,45,"['scifi', 'action', 'drama', 'fantasy', 'comed...",['US'],1.0,tt1267295,6.6,35427.0,17.479,6.800
4946,ts1475,Chosen,SHOW,A 17-year-old girl's world is turned upside do...,2022,TV-MA,41,"['scifi', 'drama', 'thriller']",['DK'],1.0,tt16492950,4.3,1246.0,7.199,6.584
4962,ts272980,The One,SHOW,Love -- and lies -- spiral when a DNA research...,2021,TV-MA,42,"['drama', 'scifi', 'thriller', 'crime', 'action']",['GB'],1.0,tt13879466,6.6,12552.0,13.554,6.900
5100,ts313781,The Club,SHOW,The most unexpected people can become your cho...,2021,TV-14,47,"['drama', 'comedy']",['TR'],2.0,tt13317582,7.9,7810.0,8.116,7.200
5225,tm362072,Monster,MOVIE,"The story of Steve Harmon, a 17-year-old honor...",2021,R,98,"['drama', 'crime']","['CA', 'US']",NaN,tt2850272,6.5,5770.0,14.441,6.500
5246,ts314395,The Motive,SHOW,"In Jerusalem 1986, a 14-year-old boy shoots hi...",2021,NaN,35,"['crime', 'documentation']",[],1.0,tt15529566,5.2,1472.0,11.281,5.700
5391,tm1132325,Don,MOVIE,A youngster who is still figuring out what his...,2022,NaN,164,"['romance', 'comedy', 'drama', 'action']",['IN'],NaN,tt10709484,7.0,6667.0,2.708,7.100
5430,ts356275,Johnny Test,SHOW,"How much trouble could one imaginative boy, hi...",2021,TV-Y,14,"['comedy', 'animation', 'family', 'scifi', 'ac...",['US'],2.0,tt15061770,6.4,355.0,5.835,7.500
5442,ts282155,Zero,SHOW,A teenager who can make herself invisible is u...,2021,TV-MA,24,"['scifi', 'action', 'comedy', 'drama', 'fantasy']",['IT'],1.0,tt10619486,5.6,1302.0,6.765,7.600
5552,tm1040337,Security,MOVIE,After the assault of a young woman in their se...,2021,NaN,118,['thriller'],['IT'],NaN,tt11892916,4.9,1989.0,25.561,5.700
5573,ts285854,Till Death,SHOW,"Fed up with his wife’s distancing from him, Ha...",2021,TV-MA,53,['drama'],['LB'],2.0,NaN,NaN,NaN,27.741,6.700
5632,tm1165244,Into the Wind,MOVIE,She graduated from a prestigious high school i...,2022,NaN,108,"['comedy', 'drama', 'romance', 'sport']",['PL'],NaN,tt17044594,5.2,864.0,24.571,5.237
5704,tm1054462,The Land,MOVIE,"In contemporary Poland, people from different ...",2021,NaN,103,"['comedy', 'drama', 'crime']",['PL'],NaN,tt14345386,6.1,473.0,1.627,5.600
5771,tm1019822,Connected,MOVIE,"Argentine DJ Hernán Cattáneo, known for his ho...",2021,NaN,42,[],[],NaN,NaN,NaN,NaN,5.197,7.300

In [13]:
titles_clean_df = titles_df.sort_values(by=['title', 'release_year'])
titles_clean_df.drop_duplicates(subset='title', keep='last', inplace=True)
titles_clean_df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
2658,ts265844,#ABtalks,SHOW,#ABtalks is a YouTube interview show hosted by...,2018,TV-PG,68,[],[],1.0,tt12635254,9.6,7.0,NaN,NaN
3237,tm820190,#Alive,MOVIE,"As a grisly virus rampages a city, a lone man ...",2020,NaN,98,"['horror', 'thriller', 'action', 'drama']",['KR'],NaN,tt10620868,6.3,38313.0,58.967,7.3
4095,tm817087,#AnneFrank. Parallel Stories,MOVIE,One single Anne Frank moves us more than the c...,2019,NaN,92,"['drama', 'history', 'documentation']",['IT'],NaN,tt9850370,6.5,1548.0,8.190,7.1
2875,tm371188,#FriendButMarried,MOVIE,"Pining for his high school crush for years, a ...",2018,NaN,102,"['romance', 'comedy', 'drama']",['ID'],NaN,tt8076266,6.8,714.0,1.257,6.7
4549,tm846354,#FriendButMarried 2,MOVIE,As Ayu and Ditto finally transition from best ...,2020,NaN,104,"['drama', 'comedy', 'romance']",['ID'],NaN,tt11640412,6.9,311.0,2.063,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,ts222901,糖糖Online,SHOW,"When a wardrobe malfunction goes viral, a bubb...",2019,TV-MA,24,"['drama', 'family']",['TW'],1.0,tt11330500,5.4,22.0,0.600,10.0
5721,ts307816,냉면 랩소디,SHOW,"Refreshing and flavorful, naengmyeon is Korea’...",2021,TV-PG,49,['documentation'],['KR'],1.0,tt15772846,7.5,25.0,1.765,4.0
4675,ts304136,마법버스 타요,SHOW,NaN,2020,TV-Y7,24,[],['KR'],1.0,NaN,NaN,NaN,0.600,NaN
4358,ts255867,뽀로로 동화나라,SHOW,NaN,2020,TV-Y,14,['animation'],['KR'],1.0,NaN,NaN,NaN,0.600,NaN
1704,tm1063792,NaN,MOVIE,NaN,2015,NaN,11,[],[],NaN,tt4661188,NaN,NaN,NaN,NaN

In [14]:
titles_clean_df.duplicated('title').sum()

0

In [15]:
check = titles_clean_df['title'] == 'The Girl Next Door'
titles_clean_df[check]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
294,tm78067,The Girl Next Door,MOVIE,In a quiet suburban town in the summer of 1958...,2007,R,91,"['crime', 'drama', 'horror', 'thriller']",['US'],NaN,tt0830558,6.5,26293.0,13.131,6.7

In [16]:
titles_clean_df.dropna(subset=['title'], inplace=True)

In [17]:
titles_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5798 entries, 2658 to 4358
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5798 non-null   object
 1   title                 5798 non-null   object
 2   type                  5798 non-null   object
 3   description           5781 non-null   object
 4   release_year          5798 non-null   int64
 5   age_certification     3200 non-null   object
 6   runtime               5798 non-null   int64
 7   genres                5798 non-null   object
 8   production_countries  5798 non-null   object
 9   seasons               2089 non-null   float64
 10  imdb_id               5396 non-null   object
 11  imdb_score            5318 non-null   float64
 12  imdb_votes            5302 non-null   float64
 13  tmdb_popularity       5709 non-null   float64
 14  tmdb_score            5490 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 724.8+ KB

In [18]:
titles_clean_df.set_index('id', inplace=True)

In [19]:
titles_clean_df.reset_index(inplace=True)

In [20]:
titles_clean_df.sample(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
3785,tm1164962,Restless,MOVIE,After going to extremes to cover up an acciden...,2022,R,95,"['thriller', 'action', 'crime']","['BE', 'FR']",NaN,tt14465894,5.8,4174.0,217.363,6.0
4352,tm453098,Svaha: The Sixth Finger,MOVIE,Pastor Park is head of a religious investigati...,2019,NaN,122,"['thriller', 'crime', 'horror']",['KR'],NaN,tt7299298,6.2,3947.0,12.740,6.6
626,ts76509,Beyond Stranger Things,SHOW,"Secrets from the ""Stranger Things 2"" universe ...",2017,TV-14,21,['documentation'],['US'],1.0,tt7570990,7.4,1883.0,98.480,7.5
4449,tm359658,The 3rd Eye,MOVIE,When her little sister claims she sees the dea...,2017,NaN,107,"['horror', 'thriller', 'animation', 'drama', '...",['ID'],NaN,tt6506146,5.1,1405.0,8.045,5.5
1034,tm206512,Circle,MOVIE,"In a massive, mysterious chamber, fifty strang...",2015,NaN,87,"['thriller', 'drama', 'horror', 'scifi', 'euro...",['US'],NaN,tt3118452,6.0,52925.0,14.711,6.0

In [21]:
credits_df = pd.read_csv('data/credits 2 of 2.csv')

In [22]:
credits_df.shape

(77801, 5)

In [23]:
credits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77801 entries, 0 to 77800
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  77801 non-null  int64
 1   id         77801 non-null  object
 2   name       77801 non-null  object
 3   character  68029 non-null  object
 4   role       77801 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.0+ MB

In [24]:
credits_df.head(5)

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

In [25]:
credits_df.describe()

          person_id
count  7.780100e+04
mean   5.294888e+05
std    6.430167e+05
min    7.000000e+00
25%    4.530600e+04
50%    1.983580e+05
75%    8.880960e+05
max    2.462818e+06

In [26]:
credits_df.isnull().sum().sort_values()

person_id       0
id              0
name            0
role            0
character    9772
dtype: int64

In [27]:
credits_df.duplicated('id').sum()

72312

In [28]:
credits_df.set_index('id', inplace=True)

In [29]:
credits_df.reset_index(inplace=True)

In [30]:
credits_df.sample(5)

             id  person_id                name            character   role
18491  tm139617      12050           Tom Kenny  Silent Sven (voice)  ACTOR
2234   tm192037      48906       Brenda Strong     Captain Deladier  ACTOR
53563   ts93981      99065  Antonio de la Vega                  NaN  ACTOR
32860  tm370436    1333060         Renee Lyons               Client  ACTOR
22287   ts42156     269705       Chelsea Clark            Esme Song  ACTOR

In [31]:
originals_df = pd.read_csv('data/Wiki_Netflix_Originals1.csv')

In [32]:
originals_df.shape

(361, 1)

In [33]:
originals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   361 non-null    object
dtypes: object(1)
memory usage: 2.9+ KB

In [34]:
originals_df.isnull().sum().sort_values()

title    0
dtype: int64

In [35]:
originals_df.sample(5)

                           title
283                Physical: 100
31                      Unstable
312        Don't Hate the Player
169  Luz: The Light of the Heart
145           All of Us Are Dead

In [37]:
date_df = pd.read_csv('data/date_added_netflix_titles.csv')

In [38]:
date_df.shape

(8807, 12)

In [39]:
date_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [40]:
date_df.isnull().sum().sort_values()

show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
duration           3
rating             4
date_added        10
cast             825
country          831
director        2634
dtype: int64

In [41]:
date_mask = date_df['date_added'].isnull()
date_df[date_mask]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6066,s6067,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6174,s6175,TV Show,Anthony Bourdain: Parts Unknown,NaN,Anthony Bourdain,United States,NaN,2018,TV-PG,5 Seasons,Docuseries,This CNN original series has chef Anthony Bour...
6795,s6796,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,TV-PG,11 Seasons,"Classic & Cult TV, TV Comedies",Frasier Crane is a snooty but lovable Seattle ...
6806,s6807,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...
6901,s6902,TV Show,Gunslinger Girl,NaN,"Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...",Japan,NaN,2008,TV-14,2 Seasons,"Anime Series, Crime TV Shows","On the surface, the Social Welfare Agency appe..."
7196,s7197,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...
7254,s7255,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaN,2012,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder..."
7406,s7407,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
7847,s7848,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
8182,s8183,TV Show,The Adventures of Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaN,2015,TV-Y7,2 Seasons,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ..."

In [42]:
date_clean_df = date_df.dropna(subset=['date_added'])

In [43]:
date_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8797 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8797 non-null   object
 1   type          8797 non-null   object
 2   title         8797 non-null   object
 3   director      6173 non-null   object
 4   cast          7972 non-null   object
 5   country       7967 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8797 non-null   int64
 8   rating        8793 non-null   object
 9   duration      8794 non-null   object
 10  listed_in     8797 non-null   object
 11  description   8797 non-null   object
dtypes: int64(1), object(11)
memory usage: 893.4+ KB

In [43]:
date_clean_df.isnull().sum().sort_values()

show_id            0
type               0
title              0
date_added         0
release_year       0
listed_in          0
description        0
duration           3
rating             4
cast             825
country          830
director        2624
dtype: int64

In [44]:
date_clean_df.drop(columns=['show_id', 'listed_in', 'description', 'duration', 'rating', 'cast', 'country', 'director'], inplace=True)

C:\Users\pinar\AppData\Local\Temp\ipykernel_9732\3950973324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_clean_df.drop(columns=['show_id', 'listed_in', 'description', 'duration', 'rating', 'cast', 'country', 'director'], inplace=True)

In [45]:
date_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8797 entries, 0 to 8806
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8797 non-null   object
 1   title         8797 non-null   object
 2   date_added    8797 non-null   object
 3   release_year  8797 non-null   int64
dtypes: int64(1), object(3)
memory usage: 343.6+ KB

In [46]:
date_clean_df.duplicated('title').sum()

0

In [48]:
titles_clean_credits_df = pd.merge(left = titles_clean_df, right = credits_df, how = 'left', on = 'id')
titles_clean_credits_df.sample(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
76968,tm408890,Yucatán,MOVIE,Two white collar thieves compete fiercely agai...,2018,PG,129,"['comedy', 'romance', 'european']",['ES'],NaN,tt6502956,5.5,2143.0,7.401,5.600,241531.0,Adrian Nunez,Brendon,ACTOR
31757,tm118637,John Q,MOVIE,John Quincy Archibald is a father and husband ...,2002,PG-13,116,"['drama', 'thriller', 'crime']",['US'],NaN,tt0251160,7.0,133215.0,32.229,7.121,64419.0,Claire Rankin,Public Defender,ACTOR
72470,ts225787,Unabomber: In His Own Words,SHOW,"Anchored by a rare interview, this docuseries ...",2020,TV-MA,44,"['crime', 'documentation']",['US'],1.0,tt11833494,7.2,3446.0,4.465,7.400,2255713.0,Dr. Philip J. Resnick,Self. Prosecution Forensic Psychiatrist,ACTOR
19911,tm849004,Eurovision Song Contest: The Story of Fire Saga,MOVIE,Two small-town aspiring musicians chase their ...,2020,PG-13,123,"['music', 'comedy']",['US'],NaN,tt8580274,6.5,92086.0,10.817,6.400,1505990.0,Smari Gunn,Lighting Assistant,ACTOR
44603,ts20823,Orange Is the New Black,SHOW,A crime she committed in her youthful past sen...,2013,TV-MA,59,"['drama', 'comedy', 'crime']",['US'],7.0,tt2372162,8.1,298009.0,87.316,7.700,16300.0,Natasha Lyonne,Nicky Nichols,ACTOR

In [49]:
titles_clean_credits_df.sample(50)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
52097,tm1165462,Senior Year,MOVIE,A thirty-seven-year-old woman wakes up from a ...,2022,R,112,"['comedy', 'drama']",['US'],NaN,tt5315212,5.5,34419.0,232.337,5.900,2340581.0,Stephen Shutters,Onewheel Rider,ACTOR
52206,tm933826,Serious Men,MOVIE,Tormented with his 'under-privileged' societal...,2020,NaN,115,"['drama', 'comedy']",['IN'],NaN,tt10230414,6.8,7505.0,2.765,7.000,1592891.0,Aakshath Das,Adi Mani,ACTOR
39645,tm883441,Money Heist: The Phenomenon,MOVIE,A documentary on why 'Money Heist' sparked a w...,2020,NaN,57,['documentation'],['ES'],NaN,tt12078990,7.4,3482.0,43.094,7.500,1390367.0,Pablo Lejarreta,NaN,DIRECTOR
31285,tm142881,Jem and the Holograms,MOVIE,As a small-town girl catapults from undergroun...,2015,PG,118,"['fantasy', 'music', 'romance', 'scifi', 'dram...",['US'],NaN,tt3614530,4.1,7867.0,9.666,5.500,81280.0,Phillip Chbeeb,Back-Up Dancer,ACTOR
3230,ts216407,Age of Samurai: Battle for Japan,SHOW,An exploration of the warring kingdoms of feud...,2021,TV-MA,43,"['documentation', 'action', 'drama', 'history'...",['US'],1.0,tt10551256,7.4,4119.0,31.152,7.100,1824897.0,David Eason,Self,ACTOR
6385,tm819107,Aziz Ansari: Right Now,MOVIE,Aziz Ansari shares deep personal insights and ...,2019,NaN,65,['comedy'],['US'],NaN,tt10575038,7.5,5161.0,4.989,7.400,4096.0,Spike Jonze,NaN,DIRECTOR
65521,tm857430,The Occupant,MOVIE,An unemployed executive is forced to sell his ...,2020,R,103,"['thriller', 'european', 'horror', 'drama']",['ES'],NaN,tt9345754,6.4,17289.0,8.774,6.300,1385914.0,Toni Ruiz,Vecino,ACTOR
7169,tm327708,Bareilly Ki Barfi,MOVIE,Bitti Mishra is a bohemian Bareilly girl who f...,2017,NaN,123,"['romance', 'comedy']",['IN'],NaN,tt6967980,7.5,23336.0,7.874,6.800,68089.0,Kriti Sanon,Bitti Mishra,ACTOR
8635,tm1001108,Biggie: I Got a Story to Tell,MOVIE,"Christopher Wallace, AKA The Notorious B.I.G.,...",2021,R,97,"['documentation', 'music']",['US'],NaN,tt14058484,6.8,5028.0,8.292,7.200,3911.0,Snoop Dogg,Self - Hip-Hop Artist (archive footage),ACTOR
16803,tm134407,Dev.D,MOVIE,"Because they come from different castes, the s...",2009,PG-13,141,"['comedy', 'drama', 'romance']",['IN'],NaN,tt1327035,7.9,30567.0,7.069,6.900,61026.0,Anurag Kashyap,NaN,DIRECTOR
60645,tm267135,The Dreamseller,MOVIE,The main actor believes that true success is t...,2016,NaN,96,['drama'],['BR'],NaN,tt5496926,6.0,1468.0,11.071,6.500,1115664.0,Kaik Pereira,Dimas,ACTOR
48734,tm165521,Redemption,MOVIE,Homeless and on the run from a military court ...,2013,R,100,"['action', 'thriller', 'european']","['US', 'GB']",NaN,NaN,NaN,NaN,52.251,6.200,356674.0,Ed Gaughan,Stan,ACTOR
39206,tm27395,Mission: Impossible II,MOVIE,With computer genius Luther Stickell at his si...,2000,PG-13,123,"['thriller', 'action']",['US'],NaN,tt0120755,6.1,337987.0,29.392,6.100,127731.0,Mathew Wilkinson,Michael,ACTOR
67861,tm983723,The Sparks Brothers,MOVIE,Take a musical odyssey through five weird and ...,2021,R,140,"['documentation', 'music', 'comedy', 'history']","['GB', 'US']",NaN,tt8610436,7.8,4663.0,6.784,7.300,1780168.0,James Lowe,Self,ACTOR
27919,ts6,House of Cards,SHOW,"Set in present day Washington, D.C., House of ...",2013,TV-MA,52,['drama'],['US'],6.0,tt1856010,8.7,497650.0,33.936,8.100,125517.0,Derek Cecil,Seth Grayson,ACTOR
1833,tm363248,A Futile and Stupid Gesture,MOVIE,The National Lampoon name became globally reco...,2018,NaN,101,['comedy'],['US'],NaN,tt5566790,6.7,16158.0,10.633,6.500,1588.0,Finn Wittrock,Tim Matheson,ACTOR
18618,tm376903,Dry Martina,MOVIE,Martina was a famous singer in Argentina durin...,2018,NaN,95,"['comedy', 'drama']","['AR', 'CL']",NaN,tt6312802,5.8,999.0,8.777,6.000,830494.0,Rafael Gumucio,The Lover,ACTOR
23933,ts113842,Giri/Haji,SHOW,A detective from Tokyo scours London for his m...,2019,TV-MA,58,"['drama', 'thriller', 'crime']",['GB'],1.0,tt8001106,7.8,14008.0,14.215,7.700,1313127.0,Yoshiki Minato,Jiro Yamamoto,ACTOR
74542,tm316311,Wasp Network,MOVIE,"Havana, Cuba, 1990. René González, an airplane...",2020,R,128,"['thriller', 'drama', 'crime']","['BR', 'FR', 'ES', 'BE']",NaN,tt6834140,5.9,10368.0,10.195,6.100,1495338.0,Yura López,Immigration Agent with Olga,ACTOR
68387,tm944631,The Three Deaths of Marisela Escobedo,MOVIE,Follows a mother's tireless crusade to jail he...,2020,NaN,109,"['crime', 'documentation']",['MX'],NaN,tt13206564,8.1,1683.0,19.571,9.000,1783144.0,Blanca Escobedo,Self - Marisela Escobedo's Sister,ACTOR
23763,tm461726,Ghosts of Sugar Land,MOVIE,"Shocked when their friend embraces extremism, ...",2019,NaN,21,['documentation'],['US'],NaN,NaN,NaN,NaN,3.349,5.800,307552.0,Bassam Tariq,NaN,DIRECTOR
33100,ts239188,Kitz,SHOW,"A year after the tragic death of her brother, ...",2021,TV-MA,44,"['drama', 'thriller']","['AT', 'DE']",1.0,tt12104930,5.7,2392.0,5.661,7.400,1109568.0,Valerie Huber,Vanessa von Höhenfeldt,ACTOR
69067,ts235979,The Victims' Game,SHOW,After discovering his estranged daughter's lin...,2020,TV-MA,59,"['drama', 'crime', 'thriller']",['TW'],1.0,tt12079212,7.3,1408.0,3.275,7.500,251095.0,River Huang,You Cheng Hao,ACTOR
47352,tm348073,Pup Star: Better 2Gether,MOVIE,Pup Star is back for an all-new adventure! Aft...,2017,G,90,['family'],['US'],NaN,tt6357074,4.3,239.0,3.805,6.000,29739.0,Robert Vince,NaN,DIRECTOR
49937,tm674099,Rose Island,MOVIE,An idealistic engineer builds his own island o...,2020,NaN,117,"['drama', 'comedy']",['IT'],NaN,tt10287954,7.0,20555.0,12.682,7.100,321312.0,Christian Ginepro,Poliziotto,ACTOR
69247,tm370392,The Week Of,MOVIE,The parents of a soon-to-be married couple mak...,2018,PG-13,116,['comedy'],['US'],NaN,tt6821012,5.2,21855.0,10.240,5.400,5145.0,Steve Buscemi,Charles,ACTOR
68846,tm104349,The Unjust,MOVIE,An honest cop has to compromise with his princ...,2010,NaN,119,"['thriller', 'crime', 'drama', 'action']",['KR'],NaN,tt1843120,6.6,2217.0,5.963,6.400,1607305.0,Baek Seung-ik,Killer,ACTOR
40241,tm367613,Mr. Chandramouli,MOVIE,"Raghav, a professional boxer, finds himself in...",2018,NaN,122,"['romance', 'comedy', 'sport']",['IN'],NaN,tt7486356,5.1,236.0,1.062,4.700,185179.0,Viji Chandrasekhar,NaN,ACTOR
5329,tm89936,Arahan,MOVIE,Sang-hwan became a cop in order to help the do...,2004,NaN,114,"['fantasy', 'action', 'comedy', 'thriller']",['KR'],NaN,tt0404777,6.6,3841.0,12.181,6.600,415764.0,Woo Jung-kook,Drain Pipe Worker 1 (uncredited),ACTOR
53083,tm371741,Si saben cómo me pongo ¿Pa' qué me invitan?,MOVIE,Four mismatched couples meet at an exclusive r...,2018,NaN,89,['comedy'],['CO'],NaN,tt7940122,4.5,223.0,6.095,5.800,247954.0,Fernando Ayllón,NaN,DIRECTOR
49431,tm983658,Rita Moreno: Just a Girl Who Decided to Go for It,MOVIE,Rita Moreno defied both her humble upbringing ...,2021,PG-13,90,['documentation'],['US'],NaN,tt10741846,7.7,750.0,4.916,7.100,25507.0,Eva Longoria,Self,ACTOR
33353,tm120108,Kung Fu Panda 3,MOVIE,"Continuing his ""legendary adventures of awesom...",2016,PG,95,"['action', 'animation', 'family', 'fantasy', '...","['US', 'CN']",NaN,tt2267968,7.1,155678.0,91.033,6.851,9003.0,Lena Golia,Cheering Bunny (voice),ACTOR
15692,tm357479,Day of the Dead: Bloodline,MOVIE,"In a world overrun by zombies, military person...",2017,R,90,"['horror', 'action', 'scifi', 'thriller', 'dra...","['US', 'BG']",NaN,tt3053228,3.4,11909.0,19.869,4.600,21256.0,Marcus Vanco,Baca Salazar,ACTOR
67179,tm450698,The Ruthless,MOVIE,"Milan, Italy, 1967. Santo Russo, a boy of Cala...",2019,NaN,111,"['crime', 'drama', 'european']","['FR', 'IT']",NaN,tt9239888,6.2,6237.0,12.973,6.200,226132.0,Renato De Maria,NaN,DIRECTOR
24915,ts88485,Green Eggs and Ham,SHOW,"Guy-Am-I, an inventor, and his friend Sam-I-Am...",2019,TV-Y7,28,"['animation', 'comedy', 'action', 'family', 'd...",['US'],2.0,tt4651448,8.1,2631.0,13.878,8.600,41061.0,Jillian Bell,Gluntz/Hayzel (voice),ACTOR
61620,tm153284,The Giver,MOVIE,"In a seemingly perfect community, without war,...",2014,PG-13,97,"['drama', 'scifi', 'thriller', 'romance']",['US'],NaN,tt0435651,6.4,118877.0,17.987,6.500,6716.0,Meryl Streep,Chief Elder,ACTOR
14876,tm134516,"Crouching Tiger, Hidden Dragon: Sword of Destiny",MOVIE,"A story of lost love, young love, a legendary ...",2016,PG-13,103,"['drama', 'action', 'fantasy']",['CN'],NaN,tt2652118,6.1,19500.0,21.103,6.100,6667.0,Eugenia Yuan,Blind Enchantress,ACTOR
22900,tm447788,Fyre,MOVIE,"He promised supermodels and yachts, but delive...",2019,NaN,98,"['documentation', 'crime', 'music']",['US'],NaN,tt9412098,7.2,45728.0,9.805,6.900,637409.0,Hailey Bieber,Self (archive footage),ACTOR
74826,tm172710,We Steal Secrets: The Story of WikiLeaks,MOVIE,Julian Assange. Bradley Manning. Collateral mu...,2013,R,127,['documentation'],['US'],NaN,tt1824254,6.9,7934.0,6.159,6.600,600137.0,Timothy Douglas Webster,Self - Former Army Counterintelligence Agent,ACTOR
39787,tm27268,Monster House,MOVIE,"Monsters under the bed are scary enough, but w...",2006,PG,91,"['animation', 'comedy', 'family', 'fantasy']",['US'],NaN,tt0385880,6.6,117008.0,51.891,6.600,81759.0,Ian McConnel,Paramedic #2 (voice),ACTOR
70300,tm1020073,Thunder Force,MOVIE,In a world where supervillains are commonplace...,2021,PG-13,107,"['scifi', 'comedy', 'fantasy', 'action']",['US'],NaN,tt10121392,4.4,41508.0,47.631,5.700,9419.0,Courtney Patterson,Cop,ACTOR
2228,tm502151,A Remarkable Tale,MOVIE,A town at the edge of the missing take despera...,2019,PG,93,"['comedy', 'drama', 'european']",['ES'],NaN,tt8296660,5.3,1251.0,7.463,5.700,1981134.0,Cecilia Sanz,Charo,ACTOR
70260,tm1107225,Through My Window,MOVIE,Raquel's longtime crush on her next-door neigh...,2022,R,116,"['drama', 'romance', 'comedy']",['ES'],NaN,tt14463484,5.4,9082.0,236.503,7.480,2073267.0,Emilia Lazo,Claudia,ACTOR
74102,tm126769,Waiting for the Hearse,MOVIE,"Mama Cora, who is almost eighty years old, has...",1985,NaN,87,['comedy'],['AR'],NaN,tt0089108,8.0,6399.0,7.810,8.100,79888.0,Mónica Villa,Susana,ACTOR
14065,tm992279,Confessions of an Invisible Girl,MOVIE,When the clever but socially-awkward Tetê join...,2021,NaN,91,"['comedy', 'drama']",['BR'],NaN,tt15204288,5.2,1051.0,43.041,6.900,1735090.0,Brian Monteiro,Henrique,ACTOR
27840,tm178395,Hostel: Part III,MOVIE,"Set in Las Vegas, the film centers on a man wh...",2011,R,87,['horror'],['US'],NaN,NaN,NaN,NaN,32.700,5.100,1857.0,Thomas Kretschmann,Flemming,ACTOR
12435,tm437221,Charlie Says,MOVIE,Three young women were sentenced to death in t...,2019,R,104,"['drama', 'documentation', 'crime']",['US'],NaN,tt1759744,5.9,4474.0,11.349,5.900,886139.0,Julia Schlaepfer,Sandra Good,ACTOR
68676,ts116814,The Twelve,SHOW,Twelve ordinary people are called for jury dut...,2019,TV-MA,48,"['thriller', 'drama']",['BE'],1.0,tt19354884,7.4,5174.0,9.883,7.000,315727.0,Piet De Praitere,Noël,ACTOR
39553,tm1040816,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,['comedy'],['PH'],NaN,tt14412240,5.8,27.0,2.170,NaN,1893766.0,Jhai'ho,NaN,ACTOR
55871,ts38796,Stranger Things,SHOW,"When a young boy vanishes, a small town uncove...",2016,TV-14,61,"['scifi', 'thriller', 'drama', 'fantasy', 'hor...",['US'],5.0,tt4574334,8.7,1101055.0,2226.231,8.635,229461.0,Joe Keery,Steve Harrington,ACTOR

In [50]:
titles_clean_credits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77439 entries, 0 to 77438
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    77439 non-null  object
 1   title                 77439 non-null  object
 2   type                  77439 non-null  object
 3   description           77392 non-null  object
 4   release_year          77439 non-null  int64
 5   age_certification     46392 non-null  object
 6   runtime               77439 non-null  int64
 7   genres                77439 non-null  object
 8   production_countries  77439 non-null  object
 9   seasons               14837 non-null  float64
 10  imdb_id               73929 non-null  object
 11  imdb_score            73457 non-null  float64
 12  imdb_votes            73368 non-null  float64
 13  tmdb_popularity       77341 non-null  float64
 14  tmdb_score            76166 non-null  float64
 15  person_id             77080 non-null  float64
 16  name                  77080 non-null  object
 17  character             67389 non-null  object
 18  role                  77080 non-null  object
dtypes: float64(6), int64(2), object(11)
memory usage: 11.2+ MB

In [51]:
filtered = titles_clean_credits_df['person_id'].isnull()
titles_clean_credits_df[filtered]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
0,ts265844,#ABtalks,SHOW,#ABtalks is a YouTube interview show hosted by...,2018,TV-PG,68,[],[],1.0,tt12635254,9.6,7.0,NaN,NaN,NaN,NaN,NaN,NaN
126,ts251615,(Un)Well,SHOW,This docuseries takes a deep dive into the luc...,2020,TV-MA,52,"['documentation', 'reality']",['US'],1.0,tt12759384,6.4,1068.0,3.075000,6.7,NaN,NaN,NaN,NaN
209,tm132675,100 Things to Do Before High School,MOVIE,With the pressures of high school in their nea...,2014,NaN,44,[],['US'],NaN,NaN,NaN,NaN,0.009442,NaN,NaN,NaN,NaN,NaN
770,tm1011248,30 March,MOVIE,"Ali, the fugitive from a murder he does not ev...",2021,NaN,99,"['crime', 'drama', 'thriller']",[],NaN,tt13694540,4.0,153.0,NaN,NaN,NaN,NaN,NaN,NaN
1151,ts86682,7 Days Out,SHOW,Witness the excitement and drama behind the sc...,2018,TV-PG,47,['documentation'],['US'],1.0,tt9315990,6.7,544.0,0.663000,9.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77184,tm840936,Zoé: Panoramas,MOVIE,A unique and introspective look inside one of ...,2017,PG,89,"['documentation', 'music']",['XX'],NaN,tt5158844,6.8,78.0,NaN,NaN,NaN,NaN,NaN,NaN
77419,ts82327,Три кота,SHOW,Candy and her big brothers Cookie and Pudding ...,2015,TV-Y,5,"['animation', 'scifi', 'comedy', 'family']",['RU'],3.0,tt7038964,7.0,101.0,0.662000,8.0,NaN,NaN,NaN,NaN
77426,ts271005,幸福料理,SHOW,NaN,2014,TV-14,44,[],[],1.0,NaN,NaN,NaN,0.600000,NaN,NaN,NaN,NaN,NaN
77437,ts304136,마법버스 타요,SHOW,NaN,2020,TV-Y7,24,[],['KR'],1.0,NaN,NaN,NaN,0.600000,NaN,NaN,NaN,NaN,NaN
77438,ts255867,뽀로로 동화나라,SHOW,NaN,2020,TV-Y,14,['animation'],['KR'],1.0,NaN,NaN,NaN,0.600000,NaN,NaN,NaN,NaN,NaN

In [52]:
titles_clean_credits_date_clean_df = pd.merge(left = titles_clean_credits_df, right = date_clean_df, how = 'left', on = 'title')
titles_clean_credits_date_clean_df.sample(20)

,id,title,type_x,description,release_year_x,age_certification,runtime,genres,production_countries,seasons,...,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role,type_y,date_added,release_year_y
54408,ts32186,Sonic X,SHOW,Sonic and his friends team up with 12 year old...,2003,TV-Y7,21,"['family', 'animation', 'action', 'comedy', 'd...",['JP'],3.0,...,4709.0,37.945,7.500,734030.0,Scott Dreier,Knuckles the Echidna (voice),ACTOR,TV Show,"April 15, 2021",2003.0
39376,tm406831,Modest Heroes,MOVIE,"Two tiny, aquatic humanoids search for their m...",2018,PG,18,"['fantasy', 'animation', 'drama', 'family', 'c...",['JP'],NaN,...,2705.0,58.217,6.700,352478.0,Akihiko Yamashita,NaN,DIRECTOR,NaN,NaN,NaN
60223,tm368699,The Devil All the Time,MOVIE,"In Knockemstiff, Ohio and its neighboring back...",2020,R,138,"['crime', 'drama', 'thriller', 'horror']",['US'],NaN,...,122321.0,22.872,7.300,1102661.0,Ryan Anthony Williams,Marine #1,ACTOR,NaN,NaN,NaN
11453,ts8175,Call the Midwife,SHOW,Drama following the lives of a group of midwiv...,2012,TV-PG,55,"['family', 'drama', 'history', 'european']",['GB'],11.0,...,26146.0,25.211,7.400,34825.0,Cliff Parisi,Fred,ACTOR,TV Show,"September 15, 2020",2020.0
43854,tm426117,On My Skin,MOVIE,The incredible true story behind the most cont...,2018,NaN,100,"['drama', 'european']",['IT'],NaN,...,9211.0,10.341,8.057,753121.0,Italo Amerighi,Medico Obitorio,ACTOR,Movie,"September 12, 2018",2018.0
73603,tm366889,Vice,MOVIE,"George W. Bush picks Dick Cheney, the CEO of H...",2018,R,132,"['comedy', 'drama', 'documentation']",['US'],NaN,...,139439.0,16.962,7.059,5230.0,Amy Adams,Lynne Cheney,ACTOR,NaN,NaN,NaN
24359,ts255486,Godzilla Singular Point,SHOW,"Brought together by a mysterious song, a grad ...",2021,TV-14,25,"['animation', 'action', 'scifi', 'thriller']",['JP'],1.0,...,1673.0,21.135,7.218,592425.0,Taro Kiuchi,Haberu 'Barbell' Kato (voice),ACTOR,TV Show,"June 24, 2021",2021.0
28743,tm70807,I Am Legend,MOVIE,Robert Neville is a scientist who was unable t...,2007,PG-13,101,"['scifi', 'thriller', 'action', 'drama']",['US'],NaN,...,745093.0,69.139,7.192,984524.0,Moses Harris Jr.,Infected,ACTOR,NaN,NaN,NaN
13854,tm238722,Collateral Beauty,MOVIE,"Retreating from life after a tragedy, a man qu...",2016,PG-13,97,"['romance', 'drama']",['US'],NaN,...,99712.0,25.409,7.300,233944.0,Elia Monte-Brown,Support Group Member,ACTOR,Movie,"May 28, 2021",2016.0
8060,tm987599,Best of Stand-up 2020,MOVIE,Unnecessary milk substitutes. Bad passwords. B...,2020,NaN,76,['comedy'],['US'],NaN,...,632.0,5.473,5.900,33033.0,Jim Norton,Himself,ACTOR,NaN,NaN,NaN
68025,tm1021871,The Starling,MOVIE,"After Lilly suffers a loss, a combative Starli...",2021,PG-13,102,"['comedy', 'drama', 'fantasy']",['US'],NaN,...,12309.0,24.671,7.100,18315.0,Rosalind Chao,Fawn,ACTOR,Movie,"September 24, 2021",2021.0
17205,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,"['thriller', 'action', 'crime']",['US'],NaN,...,155051.0,12.817,7.500,7250.0,Josef Sommer,Rothko,ACTOR,NaN,NaN,NaN
2988,tm258072,Adam: His Song Continues,MOVIE,Follows the true story of John and Reve Walsh ...,1986,NaN,100,"['crime', 'drama']",['US'],NaN,...,212.0,1.603,7.000,34424.0,Richard Masur,Jay Howell,ACTOR,Movie,"October 1, 2011",1986.0
44371,tm454096,Only Mine,MOVIE,Tormented and left for dead by a scorned lover...,2019,NaN,87,"['drama', 'thriller']",['US'],NaN,...,3165.0,14.846,5.300,1258035.0,Stephanie Wong,Tina,ACTOR,Movie,"April 15, 2021",2019.0
35546,ts256007,Love & Anarchy,SHOW,A married consultant and a young IT tech kick ...,2020,TV-MA,31,"['comedy', 'drama', 'romance']",['SE'],2.0,...,7896.0,13.590,7.300,1634500.0,Carla Sehn,Caroline Dahl,ACTOR,TV Show,"November 4, 2020",2020.0
39540,ts313646,"Mom, Don't Do That!",SHOW,"After her husband's death, a 60-year-old mom d...",2022,TV-MA,53,"['comedy', 'drama', 'romance']",['TW'],1.0,...,87.0,116.074,9.000,1001897.0,Chun-Hong Lee,NaN,DIRECTOR,NaN,NaN,NaN
16475,tm366383,Deliha 2,MOVIE,"Zeliha is back: Crazy and candid as ever, and ...",2018,G,106,['comedy'],['TR'],NaN,...,2594.0,5.949,5.900,820235.0,Aksel Bonfil,NaN,ACTOR,Movie,"September 27, 2019",2018.0
57410,ts43272,Terrace House: Boys & Girls in the City,SHOW,Six men and women start off as strangers and l...,2015,TV-14,29,"['reality', 'drama']",['JP'],1.0,...,1663.0,5.125,8.100,603919.0,Kentaro Ito,Himself - Commentator,ACTOR,TV Show,"April 1, 2016",2016.0
43192,tm239927,Official Secrets,MOVIE,The true story of British intelligence whistle...,2019,R,112,"['drama', 'thriller', 'history', 'crime', 'war...","['GB', 'US']",NaN,...,46901.0,13.217,7.249,11.0,Katherine Kelly,Jacqueline / MI6 Agent,ACTOR,NaN,NaN,NaN
22005,tm122434,Forrest Gump,MOVIE,A man with a low IQ has accomplished great thi...,1994,PG-13,142,"['drama', 'romance']",['US'],NaN,...,2021343.0,63.449,8.478,3199.0,Mark Matheisen,Jenny's Date,ACTOR,NaN,NaN,NaN

In [53]:
titles_clean_credits_date_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77439 entries, 0 to 77438
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    77439 non-null  object
 1   title                 77439 non-null  object
 2   type_x                77439 non-null  object
 3   description           77392 non-null  object
 4   release_year_x        77439 non-null  int64
 5   age_certification     46392 non-null  object
 6   runtime               77439 non-null  int64
 7   genres                77439 non-null  object
 8   production_countries  77439 non-null  object
 9   seasons               14837 non-null  float64
 10  imdb_id               73929 non-null  object
 11  imdb_score            73457 non-null  float64
 12  imdb_votes            73368 non-null  float64
 13  tmdb_popularity       77341 non-null  float64
 14  tmdb_score            76166 non-null  float64
 15  person_id             77080 non-null  float64
 16  name                  77080 non-null  object
 17  character             67389 non-null  object
 18  role                  77080 non-null  object
 19  type_y                50952 non-null  object
 20  date_added            50952 non-null  object
 21  release_year_y        50952 non-null  float64
dtypes: float64(7), int64(2), object(13)
memory usage: 13.0+ MB

In [54]:
originals_df['is_netflix_original'] = True

# Perform the merge
titles_clean_credits_date_clean_originals_df = pd.merge(
    left=titles_clean_credits_date_clean_df, 
    right=originals_df[['title', 'is_netflix_original']], 
    how='left', 
    on='title'
)

titles_clean_credits_date_clean_originals_df['is_netflix_original'] = titles_clean_credits_date_clean_originals_df['is_netflix_original'].fillna(False)

titles_clean_credits_date_clean_originals_df.sample(50)

,id,title,type_x,description,release_year_x,age_certification,runtime,genres,production_countries,seasons,...,tmdb_popularity,tmdb_score,person_id,name,character,role,type_y,date_added,release_year_y,is_netflix_original
15389,tm925785,Dark Forces,MOVIE,"In search of his sister, a renegade criminal s...",2020,NaN,81,"['horror', 'thriller', 'action']",['MX'],NaN,...,4.030,4.300,353097.0,Ariane Pellicer,Helga,ACTOR,Movie,"August 21, 2020",2020.0,False
60315,tm192431,The Devil's Own,MOVIE,"Frankie McGuire, one of the IRA's deadliest as...",1997,R,107,"['crime', 'thriller', 'drama', 'action', 'euro...",['US'],NaN,...,12.863,6.100,18458.0,Natascha McElhone,Megan Doherty,ACTOR,NaN,NaN,NaN,False
36373,tm847805,Ludo,MOVIE,"Ludo is about the butterfly effect and how, de...",2020,PG-13,150,"['crime', 'comedy', 'drama', 'action']",['IN'],NaN,...,10.329,7.500,353145.0,Shalini Vatsa,Latha Kutti,ACTOR,Movie,"November 12, 2020",2020.0,False
63007,tm244149,The Irishman,MOVIE,"Pennsylvania, 1956. Frank Sheeran, a war veter...",2019,R,209,"['crime', 'drama', 'history', 'thriller']",['US'],NaN,...,21.075,7.600,4245.0,Marin Ireland,Older Dolores Sheeran,ACTOR,Movie,"November 27, 2019",2019.0,False
38025,tm1109843,Meenakshi Sundareshwar,MOVIE,Forced to live apart due to a unique job prosp...,2021,NaN,141,"['romance', 'comedy']",['IN'],NaN,...,2.223,5.200,2123892.0,Manoj Mani Mathew,Vaman,ACTOR,NaN,NaN,NaN,False
47892,ts104401,Ragnarok,SHOW,A small Norwegian town experiencing warm winte...,2020,TV-MA,47,"['thriller', 'action', 'drama', 'fantasy', 'sc...",['NO'],2.0,...,118.364,8.067,98179.0,Henriette Steenstrup,Turid,ACTOR,TV Show,"May 27, 2021",2021.0,False
74926,tm177645,Wedding Association,MOVIE,"Ismail's son, Tarik returns to his village aft...",2013,PG-13,106,['comedy'],['XX'],NaN,...,4.209,6.300,1020295.0,Bayram Önal,Gendarmerie Officer,ACTOR,NaN,NaN,NaN,False
26900,tm300713,High & Low The Movie,MOVIE,S.W.O.R.D. Chiku is a devastated and dangerous...,2016,NaN,129,['action'],['JP'],NaN,...,2.513,6.000,286565.0,Airi Kido,Ishikawa,ACTOR,Movie,"September 20, 2020",2016.0,False
69149,tm376234,The Warning,MOVIE,"After his friend is shot, Jon finds a numerica...",2018,NaN,93,"['thriller', 'fantasy', 'crime', 'drama', 'act...",['ES'],NaN,...,8.052,6.000,931730.0,Manuela López,David's Mother,ACTOR,Movie,"July 24, 2018",2018.0,False
34598,tm32982,Les Misérables,MOVIE,An adaptation of the successful stage musical ...,2012,PG-13,158,"['drama', 'history', 'romance', 'war']","['US', 'GB']",NaN,...,21.858,7.300,19237.0,Rhidian Marc,Ensemble Student,ACTOR,Movie,"August 16, 2020",2012.0,False
4033,tm472195,Almost Love,MOVIE,Adam and Marklin’s 5-year relationship has gon...,2019,NaN,94,"['comedy', 'drama', 'romance']",['US'],NaN,...,4.298,6.400,1518745.0,Chris Gray,Scott James,ACTOR,Movie,"August 2, 2020",2020.0,False
52212,tm862830,Seriously Single,MOVIE,Dineo is the definition of serial monogamist. ...,2020,NaN,107,"['comedy', 'romance']",['ZA'],NaN,...,7.403,7.000,1530950.0,Bohang Moeko,Lunga,ACTOR,Movie,"July 31, 2020",2020.0,False
12537,tm230524,"Chatô, The King of Brazil",MOVIE,"The true story of Assis Chateaubriand, the fir...",2015,NaN,100,"['drama', 'comedy', 'history']",['BR'],NaN,...,2.234,5.100,1669038.0,Hélio Behring,Wedding priest,ACTOR,NaN,NaN,NaN,False
57476,tm184608,Texas Chainsaw 3D,MOVIE,A young woman learns that she has inherited a ...,2013,R,87,"['thriller', 'horror']",['US'],NaN,...,53.401,5.400,535238.0,Veleka Gray,Receptionist,ACTOR,NaN,NaN,NaN,False
40101,tm1073482,Motu Patlu Kung Fu Kings 4 The Challenge of Ku...,MOVIE,"While in Japan, best friends Motu and Patlu ha...",2018,G,86,[],[],NaN,...,1.133,10.000,836313.0,Suhas Kadav,NaN,DIRECTOR,Movie,"April 13, 2021",2018.0,False
38468,tm78592,Michael Clayton,MOVIE,A law firm brings in its 'fixer' to remedy the...,2007,R,114,"['thriller', 'drama', 'crime']",['US'],NaN,...,16.970,6.700,15240.0,Heidi Armbruster,Anna's Sister,ACTOR,NaN,NaN,NaN,False
11754,tm1038096,Carnaval,MOVIE,"After a breakup, an influencer takes her frien...",2021,NaN,94,['comedy'],['BR'],NaN,...,27.733,5.100,1875729.0,Bruna Inocencio,Mayra,ACTOR,Movie,"June 2, 2021",2021.0,False
6579,ts42477,Babylon Berlin,SHOW,"Beneath the decadence of 1929 Berlin, lies an ...",2017,TV-MA,49,"['drama', 'thriller', 'crime', 'history', 'eur...",['DE'],4.0,...,33.053,7.900,22514.0,Trystan Pütter,Litten,ACTOR,TV Show,"March 1, 2020",2020.0,False
27300,tm838705,Holiday Rush,MOVIE,"After his sudden firing, a popular radio DJ mo...",2019,NaN,94,"['drama', 'comedy', 'romance', 'family']",['US'],NaN,...,10.776,5.600,15213.0,Darlene Love,Aunt Jo Robinson,ACTOR,Movie,"November 28, 2019",2019.0,False
70165,tm1027712,This Little Love of Mine,MOVIE,Laura Price is a successful San Francisco lawy...,2021,G,91,"['romance', 'comedy']",['AU'],NaN,...,12.970,6.200,85264.0,Liam McIntyre,Chip Finley,ACTOR,NaN,NaN,NaN,False
32512,tm373452,Kannum Kannum Kollaiyadithaal,MOVIE,Two wily online scammers mend their fraudulent...,2020,NaN,162,"['comedy', 'romance', 'drama', 'thriller']",['IN'],NaN,...,5.585,6.800,157086.0,Munishkanth,NaN,ACTOR,Movie,"March 29, 2020",2020.0,False
68525,tm840196,The Trial of the Chicago 7,MOVIE,What was supposed to be a peaceful protest tur...,2020,R,130,"['drama', 'history', 'thriller']",['US'],NaN,...,15.070,7.800,9021.0,John Doman,John Mitchell,ACTOR,Movie,"October 16, 2020",2020.0,False
12148,tm244521,Catfight,MOVIE,The rivalry between two former college friends...,2017,NaN,96,"['comedy', 'drama', 'action']",['US'],NaN,...,6.831,5.500,2550.0,Damian Young,Stanley,ACTOR,Movie,"June 1, 2017",2016.0,False
2965,ts83502,Ad Vitam,SHOW,In a future where regeneration technology lets...,2018,TV-MA,52,"['scifi', 'crime', 'drama']",['FR'],1.0,...,5.334,5.800,712357.0,Victor Assié,Théo Lesky,ACTOR,TV Show,"November 1, 2019",2018.0,False
47533,tm69386,Quartet,MOVIE,"The directorial debut of Dustin Hoffman, Quart...",2012,PG-13,98,"['drama', 'comedy', 'romance', 'music']",['GB'],NaN,...,9.316,6.500,1976.0,Shola Adewusi,Sheryl,ACTOR,Movie,"August 8, 2021",2012.0,False
41461,tm242276,Na Bangaaru Talli,MOVIE,The film was co-produced by M. S. Rajesh and D...,2014,NaN,116,"['thriller', 'crime', 'drama', 'family']",['IN'],NaN,...,0.921,7.000,193217.0,Rajesh Touchriver,NaN,DIRECTOR,NaN,NaN,NaN,False
64821,tm147211,The Men Who Stare at Goats,MOVIE,A reporter in Iraq might just have the story o...,2009,R,94,"['comedy', 'war']","['US', 'GB']",NaN,...,19.022,6.000,17563.0,Shafik N. Bahou,Kidnapper #2,ACTOR,Movie,"June 4, 2019",2009.0,False
31554,tm475783,Jo Koy: Comin’ In Hot,MOVIE,Comedian Jo Koy takes center stage in Hawaii a...,2019,NaN,60,['comedy'],['US'],NaN,...,2.530,7.100,170511.0,Jo Koy,NaN,ACTOR,NaN,NaN,NaN,False
16414,tm146887,Delhi-6,MOVIE,"Roshan, an NRI, arrives in Old Delhi with his ...",2009,NaN,141,"['drama', 'comedy']",['IN'],NaN,...,2.951,5.800,69482.0,Tanvi Azmi,Fatima,ACTOR,NaN,NaN,NaN,False
16126,tm981451,Death to 2020,MOVIE,2020: A year so [insert adjective of choice he...,2020,NaN,71,['comedy'],"['GB', 'US']",NaN,...,10.954,6.600,139623.0,Joe Biden,Self (archive footage),ACTOR,Movie,"December 27, 2020",2020.0,False
43030,tm47171,OMG: Oh My God!,MOVIE,A shopkeeper takes God to court when his shop ...,2012,G,125,"['drama', 'fantasy', 'comedy']",['IN'],NaN,...,7.512,7.300,317156.0,Apoorva Arora,Jigna,ACTOR,NaN,NaN,NaN,False
50329,tm375681,S Storm,MOVIE,A suspect is killed while the ICAC team is inv...,2016,PG-13,90,"['thriller', 'drama', 'crime', 'action']","['CN', 'HK']",NaN,...,2.201,5.700,1608312.0,Temur Mamisashvili,Gangster,ACTOR,Movie,"October 19, 2018",2016.0,False
51500,tm430171,Screwball,MOVIE,Investigates the MLB's infamous doping scandal...,2019,NaN,105,"['history', 'documentation']",['US'],NaN,...,4.692,6.200,1079216.0,Blake McCall,Alex Rodriguez,ACTOR,Movie,"August 6, 2019",2018.0,False
74868,tm430057,Weapon of Choice,MOVIE,"""They never fail."" The Glock pistol has been f...",2018,NaN,90,"['documentation', 'european']","['AT', 'IQ', 'US']",NaN,...,1.283,5.200,911380.0,Fritz Ofner,NaN,DIRECTOR,Movie,"March 2, 2019",2018.0,False
71794,tm356742,Trolls Holiday,MOVIE,"When the eternally optimistic Poppy, queen of ...",2017,PG,26,"['fantasy', 'comedy', 'family', 'romance', 'an...",[],NaN,...,21.838,6.700,89697.0,Ron Funches,Cooper (voice),ACTOR,NaN,NaN,NaN,False
22755,tm413558,Funan,MOVIE,"Cambodia, once the ancient kingdom of Funan, A...",2019,NaN,82,"['drama', 'history', 'war', 'animation', 'euro...","['FR', 'LU', 'BE', 'KH']",NaN,...,3.370,7.000,11679.0,Louis Garrel,Khuon (voice),ACTOR,Movie,"July 18, 2020",2018.0,False
1040,tm444821,5 Star Christmas,MOVIE,When the Italian Premier and his companion fin...,2018,NaN,92,"['comedy', 'european']",['IT'],NaN,...,8.805,4.200,1455359.0,András Korcsmáros,Receptionist,ACTOR,Movie,"December 7, 2018",2018.0,False
2504,tm160371,A Very Harold & Kumar Christmas,MOVIE,"Six years have elapsed since Guantanamo Bay, l...",2011,R,108,"['comedy', 'fantasy', 'romance']",['US'],NaN,...,17.242,6.000,14986.0,Brett Gelman,T.V. Director,ACTOR,NaN,NaN,NaN,False
49623,tm286532,Rock my Heart,MOVIE,17-year-old Jana has a congenital heart defect...,2017,NaN,105,"['drama', 'family', 'action', 'european']",['DE'],NaN,...,7.023,7.200,590886.0,Michael Lott,Joachim Hilbig,ACTOR,NaN,NaN,NaN,False
27518,tm467467,Homecoming: A Film by Beyoncé,MOVIE,"This intimate, in-depth look at Beyoncé's cele...",2019,PG-13,137,"['documentation', 'music']",['US'],NaN,...,10.614,8.200,1094760.0,Sean Torres,Drumline,ACTOR,NaN,NaN,NaN,False
69863,tm300027,Thi Mai,MOVIE,"After losing her daughter in an accident, Carm...",2018,G,99,"['comedy', 'family', 'european']",['ES'],NaN,...,9.169,6.200,88863.0,Antonio Gil,Iñigo,ACTOR,Movie,"May 4, 2018",2017.0,False
11211,tm432327,C/o Kancharapalem,MOVIE,From a schoolboy’s crush to a middle-aged bach...,2018,PG,152,['drama'],['IN'],NaN,...,2.145,7.600,1512464.0,Nithya Sree,Sunitha,ACTOR,NaN,NaN,NaN,False
69485,tm361998,The Wolf's Call,MOVIE,"With nuclear war looming, a military expert in...",2019,NaN,115,"['thriller', 'action', 'scifi', 'war', 'drama'...",['FR'],NaN,...,15.545,7.600,1389299.0,Simon Thomas,Coxswain SNA,ACTOR,Movie,"June 20, 2019",2019.0,False
16585,tm71119,Delta Farce,MOVIE,Three bumbling Army reservists are hustled ont...,2007,PG-13,90,"['comedy', 'action']",['US'],NaN,...,10.367,5.000,1391547.0,Amy Powell,Anchorwoman,ACTOR,NaN,NaN,NaN,False
36830,ts343404,Mai: A Mother's Rage,SHOW,A grieving mother discovers the criminals behi...,2022,TV-MA,48,"['drama', 'thriller', 'crime']",['IN'],1.0,...,4.327,9.200,2325317.0,Ankur Ratan,SP Farooque Siddiqui,ACTOR,NaN,NaN,NaN,False
72842,tm167232,Unknown,MOVIE,"A man awakens from a coma, only to discover th...",2011,PG-13,113,"['thriller', 'action', 'european']","['GB', 'FR', 'DE']",NaN,...,63.884,6.700,41913.0,Matthias Weidenhöfer,Hotel Control Room Guard,ACTOR,Movie,"January 1, 2021",2011.0,False
40191,tm78919,Mr. Bean's Holiday,MOVIE,Mr. Bean wins a trip to Cannes where he unwitt...,2007,G,90,"['family', 'comedy', 'european']","['US', 'FR', 'DE', 'GB']",NaN,...,32.512,6.300,593846.0,Julie Fournier,Emil's Wife,ACTOR,NaN,NaN,NaN,False
16799,tm134407,Dev.D,MOVIE,"Because they come from different castes, the s...",2009,PG-13,141,"['comedy', 'drama', 'romance']",['IN'],NaN,...,7.069,6.900,365485.0,Shena Gamat,Owner of Hotel Welcome,ACTOR,Movie,"October 1, 2018",2009.0,False
25745,tm830795,Happy Old Year,MOVIE,"While decluttering her home, a woman's hefty h...",2019,NaN,113,"['drama', 'romance']",['TH'],NaN,...,4.183,6.800,2057216.0,Erika Manuhtam,Tidy Goddess,ACTOR,Movie,"March 26, 2020",2019.0,False
11593,ts215046,Capitani,SHOW,In a Luxembourg village where everyone is keep...,2019,TV-MA,29,"['crime', 'drama', 'thriller']",['LU'],2.0,...,28.789,6.715,1570660.0,Edson Anibal,Lucky Onu,ACTOR,TV Show,"February 11, 2021",2019.0,False

In [55]:
titles_clean_credits_date_clean_originals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77439 entries, 0 to 77438
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    77439 non-null  object
 1   title                 77439 non-null  object
 2   type_x                77439 non-null  object
 3   description           77392 non-null  object
 4   release_year_x        77439 non-null  int64
 5   age_certification     46392 non-null  object
 6   runtime               77439 non-null  int64
 7   genres                77439 non-null  object
 8   production_countries  77439 non-null  object
 9   seasons               14837 non-null  float64
 10  imdb_id               73929 non-null  object
 11  imdb_score            73457 non-null  float64
 12  imdb_votes            73368 non-null  float64
 13  tmdb_popularity       77341 non-null  float64
 14  tmdb_score            76166 non-null  float64
 15  person_id             77080 non-null  float64
 16  name                  77080 non-null  object
 17  character             67389 non-null  object
 18  role                  77080 non-null  object
 19  type_y                50952 non-null  object
 20  date_added            50952 non-null  object
 21  release_year_y        50952 non-null  float64
 22  is_netflix_original   77439 non-null  bool
dtypes: bool(1), float64(7), int64(2), object(13)
memory usage: 13.1+ MB

In [56]:
netflix_originals = titles_clean_credits_date_clean_originals_df['is_netflix_original'] == True
titles_clean_credits_date_clean_originals_df[netflix_originals]

,id,title,type_x,description,release_year_x,age_certification,runtime,genres,production_countries,seasons,...,tmdb_popularity,tmdb_score,person_id,name,character,role,type_y,date_added,release_year_y,is_netflix_original
3415,ts90023,AlRawabi School for Girls,SHOW,The bullied outcasts at prestigious Al Rawabi ...,2021,TV-14,48,['drama'],['JO'],2.0,...,12.219,7.4,1994094.0,Andria Tayeh,Mariam,ACTOR,TV Show,"August 12, 2021",2021.0,True
3416,ts90023,AlRawabi School for Girls,SHOW,The bullied outcasts at prestigious Al Rawabi ...,2021,TV-14,48,['drama'],['JO'],2.0,...,12.219,7.4,168059.0,Rakeen Saad,Noaf,ACTOR,TV Show,"August 12, 2021",2021.0,True
3417,ts90023,AlRawabi School for Girls,SHOW,The bullied outcasts at prestigious Al Rawabi ...,2021,TV-14,48,['drama'],['JO'],2.0,...,12.219,7.4,1993767.0,Noor Taher,Layan,ACTOR,TV Show,"August 12, 2021",2021.0,True
3418,ts90023,AlRawabi School for Girls,SHOW,The bullied outcasts at prestigious Al Rawabi ...,2021,TV-14,48,['drama'],['JO'],2.0,...,12.219,7.4,1994099.0,Yara Mustafa,Dina,ACTOR,TV Show,"August 12, 2021",2021.0,True
3419,ts90023,AlRawabi School for Girls,SHOW,The bullied outcasts at prestigious Al Rawabi ...,2021,TV-14,48,['drama'],['JO'],2.0,...,12.219,7.4,1994102.0,Salsabiela A.,Roqayya,ACTOR,TV Show,"August 12, 2021",2021.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76864,ts308516,"Young, Famous & African",SHOW,"This reality series follows a crew of famed, a...",2022,TV-MA,43,['reality'],['ZA'],1.0,...,5.222,9.3,2253713.0,Diamond Platnumz,Diamond,ACTOR,NaN,NaN,NaN,True
76865,ts308516,"Young, Famous & African",SHOW,"This reality series follows a crew of famed, a...",2022,TV-MA,43,['reality'],['ZA'],1.0,...,5.222,9.3,2253885.0,Andile Ncube,Andile,ACTOR,NaN,NaN,NaN,True
76866,ts308516,"Young, Famous & African",SHOW,"This reality series follows a crew of famed, a...",2022,TV-MA,43,['reality'],['ZA'],1.0,...,5.222,9.3,2253569.0,Swanky Jerry,Swanky,ACTOR,NaN,NaN,NaN,True
76867,ts308516,"Young, Famous & African",SHOW,"This reality series follows a crew of famed, a...",2022,TV-MA,43,['reality'],['ZA'],1.0,...,5.222,9.3,844816.0,Khanyi Mbau,Khanyi,ACTOR,NaN,NaN,NaN,True
76868,ts308516,"Young, Famous & African",SHOW,"This reality series follows a crew of famed, a...",2022,TV-MA,43,['reality'],['ZA'],1.0,...,5.222,9.3,2230255.0,Annie Macauley-Idibia,Annie,ACTOR,NaN,NaN,NaN,True

In [57]:
titles_clean_credits_date_clean_originals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77439 entries, 0 to 77438
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    77439 non-null  object
 1   title                 77439 non-null  object
 2   type_x                77439 non-null  object
 3   description           77392 non-null  object
 4   release_year_x        77439 non-null  int64
 5   age_certification     46392 non-null  object
 6   runtime               77439 non-null  int64
 7   genres                77439 non-null  object
 8   production_countries  77439 non-null  object
 9   seasons               14837 non-null  float64
 10  imdb_id               73929 non-null  object
 11  imdb_score            73457 non-null  float64
 12  imdb_votes            73368 non-null  float64
 13  tmdb_popularity       77341 non-null  float64
 14  tmdb_score            76166 non-null  float64
 15  person_id             77080 non-null  float64
 16  name                  77080 non-null  object
 17  character             67389 non-null  object
 18  role                  77080 non-null  object
 19  type_y                50952 non-null  object
 20  date_added            50952 non-null  object
 21  release_year_y        50952 non-null  float64
 22  is_netflix_original   77439 non-null  bool
dtypes: bool(1), float64(7), int64(2), object(13)
memory usage: 13.1+ MB

In [58]:
titles_clean_credits_date_clean_originals_df.to_csv(r'C:\Users\pinar\Desktop\General Assembly Coursework to Study\Python\Practice\Netflix\all_merged.csv', index = False)