In [1]:
import pandas as pd

In [2]:
titles_df = pd.read_csv('titles 1 of 2.csv')

In [3]:
titles_df.shape

(5850, 15)

In [4]:
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 685.7+ KB

In [5]:
titles_df.head(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [6]:
titles_df.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,5850.000000,5850.000000,2106.000000,5368.000000,5.352000e+03,5759.000000,5539.000000
mean,2016.417094,76.888889,2.162868,6.510861,2.343938e+04,22.637925,6.829175
std,6.937726,39.002509,2.689041,1.163826,9.582047e+04,81.680263,1.170391
min,1945.000000,0.000000,1.000000,1.500000,5.000000e+00,0.009442,0.500000
25%,2016.000000,44.000000,1.000000,5.800000,5.167500e+02,2.728500,6.100000
50%,2018.000000,83.000000,1.000000,6.600000,2.233500e+03,6.821000,6.900000
75%,2020.000000,104.000000,2.000000,7.300000,9.494000e+03,16.590000,7.537500
max,2022.000000,240.000000,42.000000,9.600000,2.294231e+06,2274.044000,10.000000

In [7]:
titles_df.isnull().sum().sort_values()

id                         0
type                       0
release_year               0
runtime                    0
genres                     0
production_countries       0
title                      1
description               18
tmdb_popularity           91
tmdb_score               311
imdb_id                  403
imdb_score               482
imdb_votes               498
age_certification       2619
seasons                 3744
dtype: int64

In [8]:
titles_df.duplicated('id').sum()

0

In [9]:
titles_df.duplicated('title').sum()

51

In [13]:
titles_df[titles_df.duplicated('title')]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
294,tm78067,The Girl Next Door,MOVIE,In a quiet suburban town in the summer of 1958...,2007,R,91,"['crime', 'drama', 'horror', 'thriller']",['US'],NaN,tt0830558,6.5,26293.0,13.131,6.700
304,tm102337,A Nightmare on Elm Street,MOVIE,The film that brings back horror icon Freddy K...,2010,R,95,"['horror', 'thriller', 'crime', 'drama']",['US'],NaN,tt1179056,5.2,99894.0,39.672,5.500
513,tm54147,Dostana,MOVIE,Two straight guys who pretend to be a gay coup...,2008,PG-13,142,"['drama', 'romance', 'comedy']","['IN', 'US']",NaN,tt1185420,6.5,15063.0,8.613,6.200
515,ts19384,A Lion in the House,SHOW,Five families struggle with the ups and downs ...,2006,TV-14,190,['documentation'],['US'],1.0,NaN,NaN,NaN,1.487,7.500
1208,tm209987,Christine,MOVIE,"In the 1970s, a television reporter Christine ...",2016,R,123,['drama'],['US'],NaN,tt4666726,6.9,15146.0,11.100,6.800
1232,ts42655,Wanted,SHOW,"Two complete strangers, Lola and Chelsea, inte...",2016,TV-14,45,"['crime', 'drama', 'action']",['AU'],3.0,tt5193358,7.6,5920.0,12.755,7.200
1290,ts37779,Danger Mouse,SHOW,"Danger Mouse is back saving London, saving the...",2015,NaN,12,"['comedy', 'action', 'crime', 'family', 'fanta...",['GB'],2.0,tt4196822,7.2,587.0,6.326,7.600
1380,tm248010,Taxi Driver,MOVIE,A small-town mechanic turned chauffeur for the...,2015,NaN,100,"['comedy', 'crime', 'drama']",['NG'],NaN,tt5112438,6.0,69.0,1.191,5.300
1459,tm232710,A Second Chance,MOVIE,"Popoy and Basha have had a wonderful wedding, ...",2015,NaN,130,"['drama', 'romance', 'family', 'documentation'...",['PH'],NaN,tt5226380,8.6,47.0,2.752,7.100
1557,tm244577,Love O2O,MOVIE,What is it that makes a man fall in love with ...,2016,NaN,105,"['comedy', 'romance', 'drama']",['CN'],NaN,tt6093452,6.4,1039.0,7.811,6.900
1596,tm234292,The Heirs,MOVIE,Teenagers’ leisure at full swing: a group of f...,2015,NaN,71,['drama'],['MX'],NaN,tt2903370,5.7,223.0,1.309,5.700
1730,ts81884,Bodyguard,SHOW,A troubled war veteran is assigned to protect ...,2018,TV-MA,60,"['war', 'drama', 'thriller', 'crime', 'european']",['GB'],2.0,tt7493974,8.1,118124.0,19.085,7.900
1871,ts57424,The Forest,SHOW,"In a small quiet village in the Ardennes, a si...",2017,TV-MA,52,"['drama', 'crime', 'thriller', 'european']",['FR'],1.0,tt6560040,7.2,10234.0,18.051,7.100
1987,ts56201,Cloudy with a Chance of Meatballs,SHOW,"The series is a prequel, featuring the high sc...",2017,TV-Y7,11,"['action', 'fantasy', 'scifi', 'animation', 'c...",['CA'],2.0,tt7584168,3.4,750.0,8.750,5.600
2046,ts81885,The Good Cop,SHOW,Honest cop Tony Jr. gets advice from his unscr...,2018,TV-PG,46,"['drama', 'comedy', 'crime', 'documentation']",['US'],1.0,tt7183074,6.9,5732.0,8.714,6.400
2097,ts75620,Black,SHOW,"A Grim Reaper, a detective and a woman who for...",2017,TV-MA,78,"['scifi', 'drama', 'action', 'thriller', 'horr...",['KR'],2.0,tt7298976,7.9,3891.0,39.083,8.000
2099,ts58175,She's Gotta Have It,SHOW,Nola Darling struggles to define herself and d...,2017,TV-MA,35,['comedy'],['US'],2.0,tt3713588,6.7,4695.0,6.031,6.600
2259,tm311319,Manhunt,MOVIE,"Accused of a murder he didn't commit, a prosec...",2017,NaN,106,"['thriller', 'action', 'crime']","['HK', 'CN']",NaN,tt4537986,5.2,3247.0,11.686,5.600
2271,ts78053,Kakegurui,SHOW,Children from influential families in politics...,2018,TV-MA,25,"['thriller', 'drama']",['JP'],2.0,tt7691766,6.7,1005.0,24.549,7.900
2631,tm362264,The Gift,MOVIE,Mashoto’s life in the city is a hustle. It’s a...,2017,NaN,85,['drama'],['TZ'],NaN,tt6856604,8.0,25.0,1.030,8.000
3089,tm824398,The Platform,MOVIE,"A mysterious place, an indescribable prison, a...",2019,NaN,95,"['scifi', 'thriller', 'horror', 'european']",['ES'],NaN,tt8228288,7.0,213699.0,47.725,7.003
3123,tm460948,Always Be My Maybe,MOVIE,"Reunited after 15 years, famous chef Sasha and...",2019,PG-13,102,"['romance', 'comedy']",['US'],NaN,tt7374948,6.8,55686.0,11.434,6.600
3163,ts221016,Top Boy,SHOW,Two seasoned drug dealers return to the gritty...,2019,TV-MA,53,"['drama', 'crime']",['GB'],3.0,NaN,NaN,NaN,24.305,8.400
3197,tm453862,The Call,MOVIE,Connected by phone in the same home but 20 yea...,2020,NaN,112,"['scifi', 'thriller', 'drama', 'crime', 'horror']",['KR'],NaN,tt10530176,7.1,30772.0,33.987,7.600
3374,tm497383,Sergio,MOVIE,A sweeping drama set in the chaotic aftermath ...,2020,R,118,"['drama', 'history', 'romance', 'documentation']","['JO', 'TH', 'US', 'AL']",NaN,tt6468740,6.2,9698.0,11.893,6.700
3434,ts223344,The Gift,SHOW,A painter in Istanbul embarks on a personal jo...,2019,TV-MA,43,"['thriller', 'drama', 'scifi', 'fantasy']",['TR'],3.0,tt10075318,7.0,21802.0,16.327,7.700
3505,ts357033,A Love So Beautiful,SHOW,Love is as tough as it is sweet for a lovestru...,2020,NaN,23,"['comedy', 'drama']",['KR'],1.0,NaN,NaN,NaN,73.064,8.400
3513,ts251617,Connected,SHOW,Science journalist Latif Nasser investigates t...,2020,TV-14,44,"['documentation', 'comedy']",['US'],1.0,tt12753692,7.5,1724.0,4.812,8.200
3602,ts315066,Vampires,SHOW,"A Paris teen who's half human, half vampire gr...",2020,TV-MA,40,"['scifi', 'fantasy', 'horror', 'drama']",['FR'],1.0,tt11829316,5.7,1289.0,14.702,7.500
3731,ts104840,Skylines,SHOW,"In Frankfurt, A young, talented hip-hop produc...",2019,TV-MA,57,"['crime', 'drama', 'music', 'documentation', '...",['DE'],1.0,tt9184970,7.5,2658.0,3.678,7.100
3863,ts241460,Whispers,SHOW,When suspicions grow around the death of their...,2020,TV-PG,42,"['thriller', 'drama']",['SA'],2.0,NaN,NaN,NaN,1.835,8.300
4155,tm912190,Cargo,MOVIE,"Prahastha, a lonely astronaut, works in a spac...",2019,PG-13,113,"['fantasy', 'scifi', 'drama']",['IN'],NaN,tt8992946,5.6,2929.0,3.503,5.600
4248,tm946277,Love,MOVIE,The story of a family and the various situatio...,2020,NaN,91,"['thriller', 'drama']",['IN'],NaN,tt12573294,7.0,1544.0,2.055,5.900
4315,tm918962,Fearless,MOVIE,A teen gamer is forced to level up to full-tim...,2020,PG,89,"['animation', 'family', 'scifi', 'documentatio...",['CA'],NaN,tt8675288,4.9,1735.0,17.412,6.200
4374,tm483190,Time Out,MOVIE,A woman who works as a DJ is known to live alo...,2019,NaN,93,"['comedy', 'drama', 'romance']",[],NaN,tt9822904,5.9,47.0,NaN,NaN
4505,tm847805,Ludo,MOVIE,"Ludo is about the butterfly effect and how, de...",2020,PG-13,150,"['crime', 'comedy', 'drama', 'action']",['IN'],NaN,tt7212754,7.6,37528.0,10.329,7.500
4735,ts306526,Queen,SHOW,"After a decades-long absence, a renowned Paris...",2022,TV-MA,49,['drama'],['PL'],1.0,tt15096884,7.1,815.0,8.782,7.300
4800,ts85985,Cowboy Bebop,SHOW,"Long on style and perpetually short on cash, b...",2021,TV-MA,45,"['scifi', 'action', 'drama', 'fantasy', 'comed...",['US'],1.0,tt1267295,6.6,35427.0,17.479,6.800
4946,ts1475,Chosen,SHOW,A 17-year-old girl's world is turned upside do...,2022,TV-MA,41,"['scifi', 'drama', 'thriller']",['DK'],1.0,tt16492950,4.3,1246.0,7.199,6.584
4962,ts272980,The One,SHOW,Love -- and lies -- spiral when a DNA research...,2021,TV-MA,42,"['drama', 'scifi', 'thriller', 'crime', 'action']",['GB'],1.0,tt13879466,6.6,12552.0,13.554,6.900
5100,ts313781,The Club,SHOW,The most unexpected people can become your cho...,2021,TV-14,47,"['drama', 'comedy']",['TR'],2.0,tt13317582,7.9,7810.0,8.116,7.200
5225,tm362072,Monster,MOVIE,"The story of Steve Harmon, a 17-year-old honor...",2021,R,98,"['drama', 'crime']","['CA', 'US']",NaN,tt2850272,6.5,5770.0,14.441,6.500
5246,ts314395,The Motive,SHOW,"In Jerusalem 1986, a 14-year-old boy shoots hi...",2021,NaN,35,"['crime', 'documentation']",[],1.0,tt15529566,5.2,1472.0,11.281,5.700
5391,tm1132325,Don,MOVIE,A youngster who is still figuring out what his...,2022,NaN,164,"['romance', 'comedy', 'drama', 'action']",['IN'],NaN,tt10709484,7.0,6667.0,2.708,7.100
5430,ts356275,Johnny Test,SHOW,"How much trouble could one imaginative boy, hi...",2021,TV-Y,14,"['comedy', 'animation', 'family', 'scifi', 'ac...",['US'],2.0,tt15061770,6.4,355.0,5.835,7.500
5442,ts282155,Zero,SHOW,A teenager who can make herself invisible is u...,2021,TV-MA,24,"['scifi', 'action', 'comedy', 'drama', 'fantasy']",['IT'],1.0,tt10619486,5.6,1302.0,6.765,7.600
5552,tm1040337,Security,MOVIE,After the assault of a young woman in their se...,2021,NaN,118,['thriller'],['IT'],NaN,tt11892916,4.9,1989.0,25.561,5.700
5573,ts285854,Till Death,SHOW,"Fed up with his wife’s distancing from him, Ha...",2021,TV-MA,53,['drama'],['LB'],2.0,NaN,NaN,NaN,27.741,6.700
5632,tm1165244,Into the Wind,MOVIE,She graduated from a prestigious high school i...,2022,NaN,108,"['comedy', 'drama', 'romance', 'sport']",['PL'],NaN,tt17044594,5.2,864.0,24.571,5.237
5704,tm1054462,The Land,MOVIE,"In contemporary Poland, people from different ...",2021,NaN,103,"['comedy', 'drama', 'crime']",['PL'],NaN,tt14345386,6.1,473.0,1.627,5.600
5771,tm1019822,Connected,MOVIE,"Argentine DJ Hernán Cattáneo, known for his ho...",2021,NaN,42,[],[],NaN,NaN,NaN,NaN,5.197,7.300

In [49]:
titles_clean_df = titles_df.sort_values(by=['title', 'release_year'])
titles_clean_df.drop_duplicates(subset='title', keep='last', inplace=True)
titles_clean_df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
2658,ts265844,#ABtalks,SHOW,#ABtalks is a YouTube interview show hosted by...,2018,TV-PG,68,[],[],1.0,tt12635254,9.6,7.0,NaN,NaN
3237,tm820190,#Alive,MOVIE,"As a grisly virus rampages a city, a lone man ...",2020,NaN,98,"['horror', 'thriller', 'action', 'drama']",['KR'],NaN,tt10620868,6.3,38313.0,58.967,7.3
4095,tm817087,#AnneFrank. Parallel Stories,MOVIE,One single Anne Frank moves us more than the c...,2019,NaN,92,"['drama', 'history', 'documentation']",['IT'],NaN,tt9850370,6.5,1548.0,8.190,7.1
2875,tm371188,#FriendButMarried,MOVIE,"Pining for his high school crush for years, a ...",2018,NaN,102,"['romance', 'comedy', 'drama']",['ID'],NaN,tt8076266,6.8,714.0,1.257,6.7
4549,tm846354,#FriendButMarried 2,MOVIE,As Ayu and Ditto finally transition from best ...,2020,NaN,104,"['drama', 'comedy', 'romance']",['ID'],NaN,tt11640412,6.9,311.0,2.063,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,ts222901,糖糖Online,SHOW,"When a wardrobe malfunction goes viral, a bubb...",2019,TV-MA,24,"['drama', 'family']",['TW'],1.0,tt11330500,5.4,22.0,0.600,10.0
5721,ts307816,냉면 랩소디,SHOW,"Refreshing and flavorful, naengmyeon is Korea’...",2021,TV-PG,49,['documentation'],['KR'],1.0,tt15772846,7.5,25.0,1.765,4.0
4675,ts304136,마법버스 타요,SHOW,NaN,2020,TV-Y7,24,[],['KR'],1.0,NaN,NaN,NaN,0.600,NaN
4358,ts255867,뽀로로 동화나라,SHOW,NaN,2020,TV-Y,14,['animation'],['KR'],1.0,NaN,NaN,NaN,0.600,NaN
1704,tm1063792,NaN,MOVIE,NaN,2015,NaN,11,[],[],NaN,tt4661188,NaN,NaN,NaN,NaN

In [50]:
titles_clean_df.duplicated('title').sum()

0

In [55]:
check = titles_clean_df['title'] == 'The Girl Next Door'
titles_clean_df[check]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
294,tm78067,The Girl Next Door,MOVIE,In a quiet suburban town in the summer of 1958...,2007,R,91,"['crime', 'drama', 'horror', 'thriller']",['US'],NaN,tt0830558,6.5,26293.0,13.131,6.7

In [56]:
titles_clean_df.dropna(subset=['title'], inplace=True)

In [57]:
titles_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5798 entries, 2658 to 4358
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5798 non-null   object
 1   title                 5798 non-null   object
 2   type                  5798 non-null   object
 3   description           5781 non-null   object
 4   release_year          5798 non-null   int64
 5   age_certification     3200 non-null   object
 6   runtime               5798 non-null   int64
 7   genres                5798 non-null   object
 8   production_countries  5798 non-null   object
 9   seasons               2089 non-null   float64
 10  imdb_id               5396 non-null   object
 11  imdb_score            5318 non-null   float64
 12  imdb_votes            5302 non-null   float64
 13  tmdb_popularity       5709 non-null   float64
 14  tmdb_score            5490 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 724.8+ KB

In [58]:
titles_clean_df.set_index('id', inplace=True)

In [90]:
titles_clean_df.reset_index(inplace=True)

In [91]:
titles_clean_df.sample(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
4289,ts55798,Stranger,SHOW,"With the help of a gutsy female detective, a p...",2017,TV-MA,64,"['crime', 'drama', 'thriller', 'romance', 'sci...",['KR'],2.0,tt6461346,8.5,8066.0,25.007,8.5
228,tm845370,After the Raid,MOVIE,A large immigration raid in a small Tennessee ...,2019,NaN,25,['documentation'],"['MX', 'US']",NaN,NaN,NaN,NaN,2.196,5.4
781,tm226362,Bosta,MOVIE,"After 15 years in France, Kamal returns to his...",2005,NaN,112,['war'],['Lebanon'],NaN,tt0497335,6.4,605.0,1.623,5.0
1727,ts57303,Friends from College,SHOW,"Twenty years after graduation, a tight-knit gr...",2017,TV-MA,30,"['comedy', 'drama']",['US'],2.0,tt5565334,6.9,20555.0,6.906,6.5
200,ts14520,Action Pack,SHOW,The heroic kids of the Action Academy take on ...,2022,TV-Y,28,"['family', 'action', 'animation', 'fantasy', '...",['US'],2.0,tt15527308,6.3,86.0,5.800,8.2

In [70]:
credits_df = pd.read_csv('credits 2 of 2.csv')

In [71]:
credits_df.shape

(77801, 5)

In [72]:
credits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77801 entries, 0 to 77800
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  77801 non-null  int64
 1   id         77801 non-null  object
 2   name       77801 non-null  object
 3   character  68029 non-null  object
 4   role       77801 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.0+ MB

In [73]:
credits_df.head(5)

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

In [74]:
credits_df.describe()

          person_id
count  7.780100e+04
mean   5.294888e+05
std    6.430167e+05
min    7.000000e+00
25%    4.530600e+04
50%    1.983580e+05
75%    8.880960e+05
max    2.462818e+06

In [75]:
credits_df.isnull().sum().sort_values()

person_id       0
id              0
name            0
role            0
character    9772
dtype: int64

In [76]:
credits_df.duplicated('id').sum()

72312

In [78]:
credits_df.set_index('id', inplace=True)

In [88]:
credits_df.reset_index(inplace=True)

In [89]:
credits_df.sample(5)

              id  person_id                name               character   role
6060    tm101914     143198       Thomas Benton             Businessman  ACTOR
12511    tm61801     210464     Osama bin Laden  Self (archive footage)  ACTOR
2394     ts20983      28166  Megumi Hayashibara     Rei Ayanami (voice)  ACTOR
73162  tm1030495      54158        Pablo Derqui                   David  ACTOR
66267  tm1048362      34033            Amy Huck               Lady Café  ACTOR

In [23]:
originals_df = pd.read_csv('Wiki_Netflix_Originals1.csv')

In [24]:
originals_df.shape

(361, 1)

In [25]:
originals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   361 non-null    object
dtypes: object(1)
memory usage: 2.9+ KB

In [26]:
originals_df.isnull().sum().sort_values()

title    0
dtype: int64

In [64]:
originals_df.sample(5)

                       title
81         The Dragon Prince
137      Alice in Borderland
123              Killer Soup
44              Heartstopper
70   Scott Pilgrim Takes Off

In [37]:
date_df = pd.read_csv('date_added_netflix_titles.csv')

In [38]:
date_df.shape

(8807, 12)

In [39]:
date_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [40]:
date_df.isnull().sum().sort_values()

show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
duration           3
rating             4
date_added        10
cast             825
country          831
director        2634
dtype: int64

In [41]:
date_mask = date_df['date_added'].isnull()
date_df[date_mask]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6066,s6067,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6174,s6175,TV Show,Anthony Bourdain: Parts Unknown,NaN,Anthony Bourdain,United States,NaN,2018,TV-PG,5 Seasons,Docuseries,This CNN original series has chef Anthony Bour...
6795,s6796,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,TV-PG,11 Seasons,"Classic & Cult TV, TV Comedies",Frasier Crane is a snooty but lovable Seattle ...
6806,s6807,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...
6901,s6902,TV Show,Gunslinger Girl,NaN,"Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...",Japan,NaN,2008,TV-14,2 Seasons,"Anime Series, Crime TV Shows","On the surface, the Social Welfare Agency appe..."
7196,s7197,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...
7254,s7255,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaN,2012,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder..."
7406,s7407,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
7847,s7848,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
8182,s8183,TV Show,The Adventures of Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaN,2015,TV-Y7,2 Seasons,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ..."

In [42]:
date_clean_df = date_df.dropna(subset=['date_added'])

In [43]:
date_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8797 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8797 non-null   object
 1   type          8797 non-null   object
 2   title         8797 non-null   object
 3   director      6173 non-null   object
 4   cast          7972 non-null   object
 5   country       7967 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8797 non-null   int64
 8   rating        8793 non-null   object
 9   duration      8794 non-null   object
 10  listed_in     8797 non-null   object
 11  description   8797 non-null   object
dtypes: int64(1), object(11)
memory usage: 893.4+ KB

In [44]:
date_clean_df.isnull().sum().sort_values()

show_id            0
type               0
title              0
date_added         0
release_year       0
listed_in          0
description        0
duration           3
rating             4
cast             825
country          830
director        2624
dtype: int64

In [45]:
date_clean_df.drop(columns=['show_id', 'listed_in', 'description', 'duration', 'rating', 'cast', 'country', 'director'], inplace=True)

C:\Users\pinar\AppData\Local\Temp\ipykernel_27456\3950973324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_clean_df.drop(columns=['show_id', 'listed_in', 'description', 'duration', 'rating', 'cast', 'country', 'director'], inplace=True)

In [46]:
date_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8797 entries, 0 to 8806
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8797 non-null   object
 1   title         8797 non-null   object
 2   date_added    8797 non-null   object
 3   release_year  8797 non-null   int64
dtypes: int64(1), object(3)
memory usage: 343.6+ KB

In [47]:
date_clean_df.duplicated('title').sum()

0

In [92]:
titles_clean_credits_df = pd.merge(left = titles_clean_df, right = credits_df, how = 'left', on = 'id')
titles_clean_credits_df.sample(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
30307,ts21695,Iris,SHOW,"Two friends, members of the South Korean milit...",2009,TV-14,61,"['action', 'drama', 'comedy', 'reality', 'roma...",['KR'],2.0,tt1757202,7.8,1951.0,9.239,7.6,62084.0,Jang Hyuk,Jung Yoo-gun,ACTOR
62549,tm1180123,The House,MOVIE,"Across different eras, a poor family, an anxio...",2022,NaN,31,"['thriller', 'animation', 'comedy', 'drama', '...",['GB'],NaN,tt11703050,6.9,9535.0,8.347,7.0,2932.0,Helena Bonham Carter,Jen (voice),ACTOR
45964,tm102848,Peepli Live,MOVIE,Natha decides to commit suicide to get the far...,2010,PG,104,"['drama', 'comedy']",['IN'],NaN,tt1447508,7.4,12309.0,3.404,7.3,118808.0,Ishita Vyas,Reporter,ACTOR
1345,tm281935,A Bad Moms Christmas,MOVIE,"Amy, Kiki and Carla – three under-appreciated ...",2017,R,104,['comedy'],['US'],NaN,tt6360762,5.6,49478.0,20.005,6.3,912834.0,Kurt Yue,Sushi Chef,ACTOR
64635,tm836674,The Main Event,MOVIE,"After discovering a magical mask, an 11-year-o...",2020,NaN,102,"['family', 'comedy', 'action', 'fantasy', 'spo...",['US'],NaN,tt10540242,4.8,2327.0,15.911,6.7,675727.0,Seth Carr,Leo Thompson,ACTOR

In [93]:
titles_clean_credits_df.sample(50)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
37637,tm403709,Marriage Story,MOVIE,A stage director and an actress struggle throu...,2019,R,136,"['drama', 'romance', 'comedy']",['GB'],NaN,tt7653254,7.9,298303.0,28.268,7.800,439937.0,Sarah Jones,Carol - Producer,ACTOR
17216,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,"['thriller', 'action', 'crime']",['US'],NaN,tt0066999,7.7,155051.0,12.817,7.500,83034.0,Chuck Dorsett,TV Watcher (uncredited),ACTOR
74547,tm316311,Wasp Network,MOVIE,"Havana, Cuba, 1990. René González, an airplane...",2020,R,128,"['thriller', 'drama', 'crime']","['BR', 'FR', 'ES', 'BE']",NaN,tt6834140,5.9,10368.0,10.195,6.100,1495345.0,Juan Ángel Samper,Castro's Envoy,ACTOR
11286,tm319310,CIA: Comrade In America,MOVIE,A young Aji Mathew is a communist who goes the...,2017,NaN,134,"['action', 'romance', 'drama']",['IN'],NaN,tt5925772,6.4,3088.0,2.548,6.000,130323.0,John Vijay,Arun Jwbaraj Peter,ACTOR
68197,tm205890,The Take,MOVIE,Michael Mason is an American pickpocket living...,2016,R,92,"['action', 'drama', 'crime', 'thriller']","['US', 'FR', 'LU', 'GB']",NaN,tt2368619,6.3,43449.0,17.563,6.300,1869.0,Daniel Westwood,Response Rapide Sniper (uncredited),ACTOR
37543,tm465427,Maria,MOVIE,When a former BlackRose cartel assassin delibe...,2019,NaN,89,"['action', 'crime', 'drama', 'thriller']",['PH'],NaN,tt7594584,5.0,2065.0,9.293,6.300,749298.0,Ronald Moreno,Gentleman,ACTOR
77088,tm61801,Zero Dark Thirty,MOVIE,A chronicle of the decade-long hunt for al-Qae...,2012,R,157,"['thriller', 'drama', 'history', 'war']",['US'],NaN,tt1790885,7.4,296416.0,24.241,7.000,56373.0,John Barrowman,Jeremy,ACTOR
74741,tm974366,We Can Be Heroes,MOVIE,When alien invaders capture Earth's superheroe...,2020,PG,97,"['fantasy', 'drama', 'family', 'action', 'come...",['US'],NaN,tt10600398,4.7,14759.0,72.986,6.200,738.0,Boyd Holbrook,Miracle Guy,ACTOR
21831,ts319412,Forecasting Love and Weather,SHOW,"Inside a national weather service, love proves...",2022,TV-14,66,"['drama', 'romance']",['KR'],1.0,tt15140592,7.1,1617.0,13.284,8.700,1753343.0,Chae Seo-eun,Kim Soo Jin,ACTOR
21743,tm1231785,For Jojo,MOVIE,When her best friend Jojo falls in love and mo...,2022,NaN,97,"['comedy', 'drama']",['DE'],NaN,tt21044524,4.2,121.0,16.562,3.792,2445298.0,Mohamed Elgendy,NaN,ACTOR
16004,tm849871,Death Can Wait,MOVIE,"Juan Pablo, upon learning that he was going to...",2020,NaN,91,['comedy'],['CO'],NaN,tt12263440,4.6,105.0,4.115,6.200,2397463.0,Catalina Cano,Llorona 3,ACTOR
3084,ts250172,Afronta!,SHOW,Afronta invites contemporary black artists and...,2017,TV-PG,14,['documentation'],['BR'],1.0,tt12467250,7.4,8.0,0.600,NaN,179099.0,Juliana Vicente,NaN,DIRECTOR
57028,tm407730,Target,MOVIE,"Trapped in an empty building, nine people are ...",2018,NaN,93,"['horror', 'comedy', 'thriller']",['ID'],NaN,tt8512320,4.0,509.0,1.938,4.100,685864.0,Astrid Tiar,Pembawa Acara,ACTOR
5697,tm456513,Army of the Dead,MOVIE,"Following a zombie outbreak in Las Vegas, a gr...",2021,R,148,"['horror', 'thriller', 'crime', 'scifi', 'acti...",['US'],NaN,tt0993840,5.7,169348.0,131.869,6.300,931304.0,Jordyn Aurora Aquino,Young Woman,ACTOR
19780,tm351101,Errementari: The Blacksmith and the Devil,MOVIE,"Basque Country, Spain, 1843. A police constabl...",2018,NaN,98,"['drama', 'fantasy', 'horror', 'thriller', 'eu...","['ES', 'FR']",NaN,tt5592878,6.4,11653.0,15.977,6.377,353155.0,José Ramón Argoitia,Mateo,ACTOR
37346,tm195870,Manson Family Vacation,MOVIE,The story of two brothers: one who’s devoted t...,2015,NaN,85,"['comedy', 'drama', 'thriller']",['US'],NaN,tt3275216,5.8,2995.0,6.451,5.900,65302.0,Leonora Pitts,Amanda,ACTOR
63114,tm244149,The Irishman,MOVIE,"Pennsylvania, 1956. Frank Sheeran, a war veter...",2019,R,209,"['crime', 'drama', 'history', 'thriller']",['US'],NaN,tt1302006,7.8,376379.0,21.075,7.600,17192.0,Margaret Anne Florence,Gallo's Wife - Sina,ACTOR
7967,tm60844,Berserk: The Golden Age Arc I - The Egg of the...,MOVIE,"Guts, an immensely strong sword-for-hire, has ...",2012,NC-17,76,"['action', 'fantasy', 'animation', 'horror', '...",['JP'],NaN,tt2210479,7.5,12548.0,20.928,7.400,36375.0,Kenta Miyake,Nosferatu Zodd,ACTOR
76673,ts79813,You,SHOW,"A dangerously charming, intensely obsessive yo...",2018,TV-MA,47,"['crime', 'drama', 'thriller', 'romance']",['US'],3.0,tt7335184,7.7,230119.0,85.558,8.100,24306.0,Saffron Burrows,Dottie Quinn,ACTOR
16425,tm144557,Deliha,MOVIE,A woman desperately seeking for a man to love....,2014,PG-13,107,"['family', 'comedy', 'romance']",['TR'],NaN,tt4003066,4.5,4315.0,5.163,5.700,97739.0,Hülya Duyar,NaN,ACTOR
35846,tm1152224,Love Tactics,MOVIE,An ad executive and a fashion designer-blogger...,2022,NaN,97,"['comedy', 'romance']",['TR'],NaN,tt14486678,5.2,3774.0,56.074,6.900,969881.0,Doğukan Polat,Emir,ACTOR
39087,tm107744,Mission: Impossible,MOVIE,"When Ethan Hunt, the leader of a crack espiona...",1996,PG-13,110,"['thriller', 'action']",['US'],NaN,tt0117060,7.1,420673.0,41.115,6.900,27855.0,Henry Czerny,Eugene Kittridge,ACTOR
72215,tm1018418,Two Distant Strangers,MOVIE,A man trying to get home to his dog gets stuck...,2021,R,32,['drama'],['US'],NaN,tt13472984,NaN,NaN,8.319,7.400,10703.0,Trevor Morgan,Street Cop 3,ACTOR
70023,tm444247,This Changes Everything,MOVIE,An investigative look and analysis of gender d...,2019,PG,97,['documentation'],['US'],NaN,tt5795282,7.6,1580.0,4.764,6.500,111688.0,Stacy Title,Herself,ACTOR
39699,tm457410,Money Trap,MOVIE,Asim Noyan swindles people with his lies and g...,2019,NaN,121,"['action', 'comedy', 'crime', 'drama']",['TR'],NaN,tt8442644,6.0,14565.0,9.695,5.600,1971855.0,Ecem Sena Bayır,Alocularin Mekanindaki Kiz,ACTOR
73,tm846354,#FriendButMarried 2,MOVIE,As Ayu and Ditto finally transition from best ...,2020,NaN,104,"['drama', 'comedy', 'romance']",['ID'],NaN,tt11640412,6.9,311.0,2.063,7.500,1315023.0,Estrina Nia Nirmala,Yoga Instructor,ACTOR
61559,tm78067,The Girl Next Door,MOVIE,In a quiet suburban town in the summer of 1958...,2007,R,91,"['crime', 'drama', 'horror', 'thriller']",['US'],NaN,tt0830558,6.5,26293.0,13.131,6.700,12620.0,Dean Faulkenberry,Kenny,ACTOR
62701,tm841797,The Ice Road,MOVIE,After a remote diamond mine collapses in far n...,2021,PG-13,109,"['action', 'thriller', 'drama']",['US'],NaN,tt3758814,5.6,38927.0,35.718,7.009,2934.0,Holt McCallany,René Lampard,ACTOR
74780,tm1092309,We Couldn't Become Adults,MOVIE,"Prodded by a friend request, a feckless forty-...",2021,NaN,124,"['drama', 'romance']",['JP'],NaN,tt14236064,6.4,706.0,10.432,6.300,187752.0,LaSalle Ishii,Mitsuo Oguro,ACTOR
55552,tm280060,Step Sisters,MOVIE,Jamilah has her whole life figured out. She's ...,2018,PG-13,104,['comedy'],['US'],NaN,tt5267472,5.4,4496.0,9.814,6.500,8740.0,Megalyn Echikunwoke,Jamilah,ACTOR
72695,tm233214,Under the Shadow,MOVIE,After Shideh's building is hit by a missile du...,2016,PG-13,84,"['war', 'drama', 'horror', 'thriller', 'fantasy']","['GB', 'IR', 'JO', 'QA']",NaN,tt4273292,6.8,27337.0,9.878,6.500,206686.0,Avin Manshadi,Dorsa,ACTOR
25304,tm120609,"Hail, Caesar!",MOVIE,When a Hollywood star mysteriously disappears ...,2016,PG-13,106,"['comedy', 'drama', 'music']",['US'],NaN,tt0475290,6.3,133837.0,11.125,5.900,40886.0,Greg Baldwin,Communist Writer,ACTOR
6882,tm1017664,Baggio: The Divine Ponytail,MOVIE,Biographical film about Italian footballer Rob...,2021,NaN,91,"['sport', 'drama']",['IT'],NaN,tt14025788,6.1,4427.0,11.747,6.500,126591.0,Antonio Zavatteri,Arrigo Sacchi,ACTOR
511,tm40009,21,MOVIE,"Ben Campbell is a young, highly intelligent, s...",2008,PG-13,123,"['crime', 'drama', 'history', 'thriller']",['US'],NaN,tt0478087,6.8,249016.0,27.013,6.700,5834.0,Laurence Fishburne,Cole Williams,ACTOR
39123,tm107744,Mission: Impossible,MOVIE,"When Ethan Hunt, the leader of a crack espiona...",1996,PG-13,110,"['thriller', 'action']",['US'],NaN,tt0117060,7.1,420673.0,41.115,6.900,163284.0,Randall Paul,CIA Escort Guard,ACTOR
58682,tm973335,The Body,MOVIE,When the body of a powerful businesswoman goes...,2019,NaN,104,"['thriller', 'comedy']",['IN'],NaN,tt8130904,5.5,3321.0,3.311,5.700,1057082.0,Scarlett Mellish Wilson,"Special Appearance in ""Jhalak Dikhlaja Reloade...",ACTOR
66790,tm414341,The Red Sea Diving Resort,MOVIE,"Sudan, East Africa, 1980. A team of Israeli Mo...",2019,R,129,"['history', 'drama', 'thriller']","['CA', 'US']",NaN,tt4995776,6.6,28051.0,14.205,6.900,759492.0,Clayton Boyd,Pam Am Pilot,ACTOR
54555,tm160132,Soul Surfer,MOVIE,The true story of teen surfer Bethany Hamilton...,2011,PG,106,"['drama', 'family', 'sport']",['US'],NaN,tt1596346,7.0,49599.0,42.736,7.100,1545911.0,Moon Otteman,Surfer Girl #2,ACTOR
14694,tm989672,Creating The Queen's Gambit,MOVIE,A fascinating character. Exquisite sets. A wig...,2021,PG-13,14,['documentation'],['US'],NaN,tt13818410,6.9,609.0,10.374,8.000,1749356.0,Bruce Pandolfini,Self - Chess Advisor,ACTOR
1818,tm363248,A Futile and Stupid Gesture,MOVIE,The National Lampoon name became globally reco...,2018,NaN,101,['comedy'],['US'],NaN,tt5566790,6.7,16158.0,10.633,6.500,17122.0,Kerri Kenney,Sullivan Producer,ACTOR
32433,tm66725,Kalakalappu,MOVIE,A man struggles to save his family-owned resta...,2012,G,149,['comedy'],['IN'],NaN,tt2262126,6.9,1398.0,2.488,6.500,192225.0,Thalapathi Dinesh,Thimeengalam,ACTOR
31840,tm368350,Jonaki,MOVIE,"While Jonaki, an 80-year-old woman, searches f...",2018,NaN,96,"['fantasy', 'drama', 'european']","['FR', 'IN', 'SG']",NaN,tt6346982,6.8,255.0,0.905,6.200,166266.0,Ratnabali Bhattacharjee,Mother,ACTOR
62477,tm56296,The History of Future Folk,MOVIE,An alien intending to claim Earth for his peop...,2012,NaN,86,"['music', 'comedy', 'scifi']",['US'],NaN,tt2245195,7.1,3478.0,4.334,6.800,119483.0,Nils d'Aulaire,Bill / General Trius,ACTOR
73635,tm366889,Vice,MOVIE,"George W. Bush picks Dick Cheney, the CEO of H...",2018,R,132,"['comedy', 'drama', 'documentation']",['US'],NaN,tt6266538,7.2,139439.0,16.962,7.059,166481.0,Abigail Marlowe,NaN,ACTOR
66285,tm326723,The Polka King,MOVIE,Local Pennsylvania polka legend Jan Lewan deve...,2017,NaN,95,"['comedy', 'music', 'drama']",['US'],NaN,tt5539052,5.9,10568.0,8.066,5.515,807839.0,Kayla Kohla,Teenage Girl,ACTOR
43148,tm514494,Offering to the Storm,MOVIE,Inspector Amaia Salazar confronts the origins ...,2020,NaN,139,"['crime', 'thriller', 'european']","['DE', 'ES']",NaN,tt7304824,6.2,6391.0,18.674,6.500,1022211.0,Elisabeth Bonjour,Jueza Francesa,ACTOR
15354,tm812783,Daniel Sosa: Maleducado,MOVIE,"In his second comedy special, Daniel Sosa refl...",2019,NaN,54,['comedy'],[],NaN,tt10438652,6.1,75.0,4.044,6.500,1150127.0,Daniel Sosa,Himself,ACTOR
69877,ts131579,Thieves of the Wood,SHOW,In 18th-century Flanders a soldier-turned-band...,2018,TV-MA,48,"['history', 'drama', 'action', 'thriller', 'co...",['BE'],1.0,tt5766086,6.8,2629.0,12.035,6.400,103457.0,Anemone Valcke,De Schoen,ACTOR
37202,tm924556,Maniyarayile Ashokan,MOVIE,When his unlucky horoscope doesn't bode well f...,2020,NaN,110,"['drama', 'comedy', 'romance']",['IN'],NaN,tt11060730,4.7,1261.0,2.534,3.600,1573887.0,Nayana Elza,Rani,ACTOR
8908,ts222606,Black Dog,SHOW,"Ko Ha-Neul dreamed of becoming a teacher, due ...",2019,TV-14,80,"['drama', 'action']",['KR'],1.0,tt11377920,7.6,176.0,5.171,9.100,105887.0,Yoo Min-kyu,Ji Hae-won,ACTOR

In [94]:
titles_clean_credits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77439 entries, 0 to 77438
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    77439 non-null  object
 1   title                 77439 non-null  object
 2   type                  77439 non-null  object
 3   description           77392 non-null  object
 4   release_year          77439 non-null  int64
 5   age_certification     46392 non-null  object
 6   runtime               77439 non-null  int64
 7   genres                77439 non-null  object
 8   production_countries  77439 non-null  object
 9   seasons               14837 non-null  float64
 10  imdb_id               73929 non-null  object
 11  imdb_score            73457 non-null  float64
 12  imdb_votes            73368 non-null  float64
 13  tmdb_popularity       77341 non-null  float64
 14  tmdb_score            76166 non-null  float64
 15  person_id             77080 non-null  float64
 16  name                  77080 non-null  object
 17  character             67389 non-null  object
 18  role                  77080 non-null  object
dtypes: float64(6), int64(2), object(11)
memory usage: 11.2+ MB

In [95]:
filtered = titles_clean_credits_df['person_id'].isnull()
titles_clean_credits_df[filtered]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
0,ts265844,#ABtalks,SHOW,#ABtalks is a YouTube interview show hosted by...,2018,TV-PG,68,[],[],1.0,tt12635254,9.6,7.0,NaN,NaN,NaN,NaN,NaN,NaN
126,ts251615,(Un)Well,SHOW,This docuseries takes a deep dive into the luc...,2020,TV-MA,52,"['documentation', 'reality']",['US'],1.0,tt12759384,6.4,1068.0,3.075000,6.7,NaN,NaN,NaN,NaN
209,tm132675,100 Things to Do Before High School,MOVIE,With the pressures of high school in their nea...,2014,NaN,44,[],['US'],NaN,NaN,NaN,NaN,0.009442,NaN,NaN,NaN,NaN,NaN
770,tm1011248,30 March,MOVIE,"Ali, the fugitive from a murder he does not ev...",2021,NaN,99,"['crime', 'drama', 'thriller']",[],NaN,tt13694540,4.0,153.0,NaN,NaN,NaN,NaN,NaN,NaN
1151,ts86682,7 Days Out,SHOW,Witness the excitement and drama behind the sc...,2018,TV-PG,47,['documentation'],['US'],1.0,tt9315990,6.7,544.0,0.663000,9.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77184,tm840936,Zoé: Panoramas,MOVIE,A unique and introspective look inside one of ...,2017,PG,89,"['documentation', 'music']",['XX'],NaN,tt5158844,6.8,78.0,NaN,NaN,NaN,NaN,NaN,NaN
77419,ts82327,Три кота,SHOW,Candy and her big brothers Cookie and Pudding ...,2015,TV-Y,5,"['animation', 'scifi', 'comedy', 'family']",['RU'],3.0,tt7038964,7.0,101.0,0.662000,8.0,NaN,NaN,NaN,NaN
77426,ts271005,幸福料理,SHOW,NaN,2014,TV-14,44,[],[],1.0,NaN,NaN,NaN,0.600000,NaN,NaN,NaN,NaN,NaN
77437,ts304136,마법버스 타요,SHOW,NaN,2020,TV-Y7,24,[],['KR'],1.0,NaN,NaN,NaN,0.600000,NaN,NaN,NaN,NaN,NaN
77438,ts255867,뽀로로 동화나라,SHOW,NaN,2020,TV-Y,14,['animation'],['KR'],1.0,NaN,NaN,NaN,0.600000,NaN,NaN,NaN,NaN,NaN

In [96]:
titles_clean_credits_date_clean_df = pd.merge(left = titles_clean_credits_df, right = date_clean_df, how = 'left', on = 'title')
titles_clean_credits_date_clean_df.sample(20)

,id,title,type_x,description,release_year_x,age_certification,runtime,genres,production_countries,seasons,...,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role,type_y,date_added,release_year_y
50847,tm366590,Sanju,MOVIE,Sanju explores some of the most crucial chapte...,2018,NaN,159,"['drama', 'comedy']","['IN', 'US']",NaN,...,52227.0,6.803,7.4,63666.0,Sanjay Dutt,Himself (Cameo) (uncredited),ACTOR,Movie,"October 15, 2018",2018.0
35965,tm95434,Love in a Puff,MOVIE,Jimmy is a mild mannered advertising executive...,2010,NaN,104,"['romance', 'comedy', 'drama']",['HK'],NaN,...,2625.0,3.347,7.1,21924.0,Shawn Yue,Jimmy,ACTOR,Movie,"September 1, 2021",2010.0
23114,ts304058,Ganglands,SHOW,"Mehdi, a qualified robber, and Liana, an appre...",2021,TV-MA,46,"['action', 'crime', 'drama', 'thriller']",['FR'],1.0,...,2553.0,39.002,7.3,1457524.0,Frank Onana,Kylian,ACTOR,TV Show,"September 24, 2021",2021.0
44249,tm65142,One Piece: The Desert Princess and the Pirates...,MOVIE,A re-telling of the Alabaster Arc from One Pie...,2007,PG-13,89,"['comedy', 'drama', 'animation', 'action']",['JP'],NaN,...,1660.0,38.807,6.7,60138.0,Hiroaki Hirata,Sanji,ACTOR,NaN,NaN,NaN
42763,tm239727,Nocturnal Animals,MOVIE,Susan Morrow receives a book manuscript from h...,2016,R,117,"['thriller', 'drama']",['US'],NaN,...,264884.0,24.273,7.5,46687.0,Franco Vega,Driver,ACTOR,Movie,"December 16, 2020",2016.0
44580,tm361746,Ophelia,MOVIE,Ophelia comes of age as lady-in-waiting for Qu...,2019,PG-13,114,"['drama', 'romance', 'history', 'war', 'thrill...","['GB', 'US']",NaN,...,10357.0,17.715,7.3,714478.0,Veronika Strapková,Lady in Waiting,ACTOR,Movie,"July 1, 2021",2018.0
75688,tm313293,Whose Streets?,MOVIE,A nonfiction account of the Ferguson uprising ...,2017,R,90,['documentation'],['US'],NaN,...,1337.0,2.526,5.8,785641.0,Alexis Templeton,Herself,ACTOR,Movie,"November 16, 2020",2017.0
76968,tm408890,Yucatán,MOVIE,Two white collar thieves compete fiercely agai...,2018,PG,129,"['comedy', 'romance', 'european']",['ES'],NaN,...,2143.0,7.401,5.6,241531.0,Adrian Nunez,Brendon,ACTOR,Movie,"February 15, 2019",2018.0
70093,ts284702,This Is a Robbery: The World's Biggest Art Heist,SHOW,"In 1990, two men dressed as cops con their way...",2021,TV-MA,53,"['crime', 'documentation', 'history']",['US'],1.0,...,4328.0,5.515,6.9,2279768.0,Ed Mahony,"Self. Reporter, Hartford Courant",ACTOR,TV Show,"April 7, 2021",2021.0
62053,tm1037519,The Guide to the Perfect Family,MOVIE,"A couple in Québec deals with the pitfalls, pr...",2021,NaN,102,"['comedy', 'drama']",['CA'],NaN,...,1668.0,26.085,6.6,371273.0,Emmanuel Seguin,Enfant Stéphane Dubois 17 ans,ACTOR,Movie,"July 14, 2021",2021.0
16699,ts77795,Derry Girls,SHOW,Amidst the political conflict of Northern Irel...,2018,TV-MA,27,['comedy'],['GB'],3.0,...,34026.0,16.567,8.1,827762.0,Saoirse-Monica Jackson,Erin Quinn,ACTOR,TV Show,"July 6, 2021",2019.0
27213,ts301625,Hold Tight,SHOW,When a young man goes missing soon after his f...,2022,TV-MA,47,"['crime', 'drama', 'thriller']",['PL'],1.0,...,2288.0,6.901,7.2,289446.0,Jacek Poniedziałek,Natan,ACTOR,NaN,NaN,NaN
62377,ts58433,The Haunting of Hill House,SHOW,"The Crains, a fractured family, confront haunt...",2018,TV-MA,58,"['thriller', 'drama', 'horror']",['US'],1.0,...,231950.0,50.336,8.1,66082.0,Kate Siegel,Theodora Crain,ACTOR,TV Show,"October 12, 2018",2018.0
18544,ts98252,Dreamworks Happy Holidays from Madagascar,SHOW,Madagascar goes wild with holiday spirit in th...,2005,TV-PG,31,"['animation', 'comedy', 'family']",['US'],1.0,...,97.0,3.420,NaN,916.0,Jada Pinkett Smith,Gloria (voice),ACTOR,NaN,NaN,NaN
54748,tm238661,Special Correspondents,MOVIE,A radio journalist and his technician get in o...,2016,PG-13,100,['comedy'],"['CA', 'GB', 'US']",NaN,...,24129.0,10.794,5.7,309786.0,Alison Brooks,TV Talkshow Host,ACTOR,Movie,"April 29, 2016",2016.0
52011,tm283938,Selfie 69,MOVIE,Your best friends are also the friends who'll ...,2016,NaN,116,"['comedy', 'action', 'romance', 'european']",['RO'],NaN,...,1700.0,4.445,6.8,864835.0,Conn Horgan,NaN,ACTOR,NaN,NaN,NaN
71534,tm827640,Travis Scott: Look Mom I Can Fly,MOVIE,"While crafting his Grammy-nominated album ""Ast...",2019,NaN,85,"['documentation', 'music']",['US'],NaN,...,4629.0,11.767,7.0,1145897.0,Stormi Webster,Self,ACTOR,Movie,"August 28, 2019",2019.0
45088,tm1022103,Outlaws,MOVIE,Introverted Girona student Nacho meets two del...,2021,R,125,"['crime', 'action', 'thriller']",['ES'],NaN,...,3985.0,67.192,7.0,2146880.0,Roger Sahuquillo,Chico recreativos,ACTOR,NaN,NaN,NaN
54933,ts84586,Spinning Out,SHOW,"Kat Baker is an up-and-coming, high-level sing...",2020,TV-MA,49,"['drama', 'sport']",['US'],1.0,...,14066.0,14.067,8.1,8788.0,January Jones,Carol Baker,ACTOR,TV Show,"January 1, 2020",2020.0
65006,ts187443,The Minions of Midas,SHOW,Los Favoritos de Midas is based on the 1901 sh...,2020,TV-MA,53,"['crime', 'drama', 'thriller']",['ES'],1.0,...,4134.0,17.311,7.0,169925.0,Marta Belmonte,Mónica Báez,ACTOR,TV Show,"November 13, 2020",2020.0

In [97]:
titles_clean_credits_date_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77439 entries, 0 to 77438
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    77439 non-null  object
 1   title                 77439 non-null  object
 2   type_x                77439 non-null  object
 3   description           77392 non-null  object
 4   release_year_x        77439 non-null  int64
 5   age_certification     46392 non-null  object
 6   runtime               77439 non-null  int64
 7   genres                77439 non-null  object
 8   production_countries  77439 non-null  object
 9   seasons               14837 non-null  float64
 10  imdb_id               73929 non-null  object
 11  imdb_score            73457 non-null  float64
 12  imdb_votes            73368 non-null  float64
 13  tmdb_popularity       77341 non-null  float64
 14  tmdb_score            76166 non-null  float64
 15  person_id             77080 non-null  float64
 16  name                  77080 non-null  object
 17  character             67389 non-null  object
 18  role                  77080 non-null  object
 19  type_y                50952 non-null  object
 20  date_added            50952 non-null  object
 21  release_year_y        50952 non-null  float64
dtypes: float64(7), int64(2), object(13)
memory usage: 13.0+ MB

In [101]:
originals_df['is_netflix_original'] = True

# Perform the merge
titles_clean_credits_date_clean_originals_df = pd.merge(
    left=titles_clean_credits_date_clean_df, 
    right=originals_df[['title', 'is_netflix_original']], 
    how='left', 
    on='title'
)

titles_clean_credits_date_clean_originals_df['is_netflix_original'] = titles_clean_credits_date_clean_originals_df['is_netflix_original'].fillna(False)

titles_clean_credits_date_clean_originals_df.sample(50)

,id,title,type_x,description,release_year_x,age_certification,runtime,genres,production_countries,seasons,...,tmdb_popularity,tmdb_score,person_id,name,character,role,type_y,date_added,release_year_y,is_netflix_original
28189,ts226602,How to Fix a Drug Scandal,SHOW,The four-part docuseries revolves around Amher...,2020,TV-MA,53,"['documentation', 'crime']",['US'],1.0,...,4.320,7.400,2323501.0,Sonja Farak,Self - Forensic Drug Chemist (Archive Footage),ACTOR,TV Show,"April 1, 2020",2020.0,False
52171,tm218186,Septembers of Shiraz,MOVIE,In this adaptation of the critically acclaimed...,2015,PG-13,110,"['drama', 'thriller', 'western']",['US'],NaN,...,8.065,5.700,735627.0,Christina Isabella Mani,Shima,ACTOR,Movie,"August 24, 2020",2016.0,False
19951,tm849004,Eurovision Song Contest: The Story of Fire Saga,MOVIE,Two small-town aspiring musicians chase their ...,2020,PG-13,123,"['music', 'comedy']",['US'],NaN,...,10.817,6.400,1405534.0,Jamala,Jamala,ACTOR,Movie,"June 26, 2020",2020.0,False
5457,tm60292,Argo,MOVIE,As the Iranian revolution reaches a boiling po...,2012,R,120,"['thriller', 'drama']","['GB', 'US']",NaN,...,18.069,7.300,79129.0,Christopher Stanley,"Thomas L. Ahern, Jr.",ACTOR,NaN,NaN,NaN,False
6346,tm369433,Awe!,MOVIE,‘Awe’ charts the journey of a motley of charac...,2018,NaN,115,"['romance', 'drama', 'fantasy', 'horror', 'sci...",['IN'],NaN,...,1.739,7.000,694304.0,C. V. L. Narasimha Rao,NaN,ACTOR,NaN,NaN,NaN,False
2240,tm121879,A River Runs Through It,MOVIE,A River Runs Through is a cinematographically ...,1992,PG,123,['drama'],['US'],NaN,...,19.580,7.100,84444.0,Emily Lloyd,Jessie Burns,ACTOR,NaN,NaN,NaN,False
45642,tm358770,Paradise Hills,MOVIE,A young woman is sent to Paradise Hills to be ...,2019,NaN,95,"['scifi', 'thriller', 'fantasy', 'european']","['US', 'ES']",NaN,...,17.062,6.022,669570.0,Arnaud Valois,Son,ACTOR,Movie,"September 9, 2021",2019.0,False
38188,tm435836,Mere Pyare Prime Minister,MOVIE,A story about four children living in a Mumbai...,2019,NaN,104,['drama'],['IN'],NaN,...,1.988,7.200,58598.0,Makrand Deshpande,Sainat,ACTOR,Movie,"May 31, 2019",2019.0,False
2341,tm51083,A Stoning in Fulham County,MOVIE,Religious beliefs clash with the law when an A...,1988,NaN,120,"['thriller', 'crime', 'drama']",['US'],NaN,...,1.010,5.800,32255.0,Jill Eikenberry,Susan,ACTOR,Movie,"October 1, 2011",1988.0,False
54494,tm86924,Soul Plane,MOVIE,Following a ridiculously awful flight that lea...,2004,R,86,"['romance', 'comedy']",['US'],NaN,...,21.864,5.300,3911.0,Snoop Dogg,Captain Mack,ACTOR,NaN,NaN,NaN,False
60048,tm313988,The Death and Life of Marsha P. Johnson,MOVIE,"Describing herself as a 'street queen,' Johnso...",2017,NaN,105,['documentation'],['US'],NaN,...,6.792,7.300,655903.0,Pat Bumgardner,Herself (archive footage),ACTOR,Movie,"October 6, 2017",2017.0,False
30622,tm166723,It Takes a Man and a Woman,MOVIE,The film follows the life of Miggy and Laida a...,2013,NaN,120,"['romance', 'comedy', 'drama']",['PH'],NaN,...,1.892,7.800,180322.0,Gee-Ann Abrahan,Marie,ACTOR,Movie,"February 27, 2019",2013.0,False
34619,tm32982,Les Misérables,MOVIE,An adaptation of the successful stage musical ...,2012,PG-13,158,"['drama', 'history', 'romance', 'war']","['US', 'GB']",NaN,...,21.858,7.300,19258.0,Lynn Jezzard,Ensemble Wedding Dancer,ACTOR,Movie,"August 16, 2020",2012.0,False
67350,tm984204,The Seventh Day,MOVIE,A renowned exorcist teams up with a rookie pri...,2021,R,87,['horror'],['US'],NaN,...,60.598,5.500,1017184.0,Chris Galust,Young Peter,ACTOR,Movie,"June 24, 2021",2021.0,False
33143,tm7073,Knight Rider 2000,MOVIE,"In the future, guns are banned and criminals a...",1991,G,91,"['action', 'scifi']",['US'],NaN,...,7.945,5.100,19760.0,Carmen Argenziano,Russell Maddock / Voice of K.I.T.T.,ACTOR,NaN,NaN,NaN,False
55806,tm24110,Strange Voices,MOVIE,A family begins to fall apart when their eldes...,1987,NaN,100,['drama'],['US'],NaN,...,2.760,6.800,64193.0,Gerald Hiken,Dr. Austin,ACTOR,Movie,"October 1, 2011",1987.0,False
60394,tm455636,The Dirt,MOVIE,The story of Mötley Crüe and their rise from t...,2019,R,108,"['drama', 'comedy', 'music']",['US'],NaN,...,15.860,7.518,12374.0,Leven Rambin,Sharise,ACTOR,Movie,"March 22, 2019",2019.0,False
7781,tm948681,Below Zero,MOVIE,"On a lonely road, a prison transport is brutal...",2021,NaN,106,"['action', 'crime', 'thriller', 'horror', 'dra...",['ES'],NaN,...,49.755,6.400,98505.0,Miquel Gelabert,Pardo,ACTOR,Movie,"January 29, 2021",2021.0,False
2148,tm1196705,A Perfect Pairing,MOVIE,It follows a hard-driving LA wine-company exec...,2022,NaN,101,"['comedy', 'romance']","['US', 'AU']",NaN,...,372.132,6.789,316571.0,Veronica Neave,Diane,ACTOR,NaN,NaN,NaN,False
75727,tm137869,Wild Card,MOVIE,When a Las Vegas bodyguard with lethal skills ...,2015,R,92,"['action', 'thriller', 'crime', 'drama']",['US'],NaN,...,66.805,5.600,7815.0,Angela Kerecz,Sexy Santa Annie,ACTOR,NaN,NaN,NaN,False
48951,ts255037,Resident Evil: Infinite Darkness,SHOW,"Years after the horrors of Raccoon City, Leon ...",2021,TV-MA,27,"['scifi', 'animation', 'drama', 'action', 'hor...",['US'],1.0,...,83.312,7.900,238572.0,Nick Apostolides,Leon S. Kennedy (voice),ACTOR,NaN,NaN,NaN,False
49411,tm919106,Rising Phoenix,MOVIE,The history and current standing of the Paraly...,2020,PG-13,105,"['documentation', 'sport']",['GB'],NaN,...,9.540,8.200,1752996.0,Eva Loeffler,Herself,ACTOR,Movie,"August 26, 2020",2020.0,False
15643,tm221225,David Brent: Life on the Road,MOVIE,"A camera crew catches up with David Brent, the...",2016,NaN,96,"['comedy', 'music', 'action']",['GB'],NaN,...,8.871,6.135,8718.0,Ricky Gervais,NaN,DIRECTOR,Movie,"February 10, 2017",2016.0,False
68010,tm889647,The Stand at Paxton County,MOVIE,A military veteran comes home to find her fath...,2020,R,102,"['thriller', 'drama']",['US'],NaN,...,5.838,6.000,1910033.0,Natalie Ceva,Interstate Diner Waitress,ACTOR,Movie,"May 2, 2020",2020.0,False
42456,tm1002815,Nightbooks,MOVIE,"Alex, a boy obsessed with scary stories, is im...",2021,NaN,103,"['family', 'fantasy', 'horror']","['CA', 'US']",NaN,...,80.549,6.300,1009447.0,Riley O'Donnell,Peasant Girl,ACTOR,Movie,"September 15, 2021",2021.0,False
36950,tm927286,Making The Witcher,MOVIE,"Journey into the extraordinary world of ""The W...",2020,PG-13,37,['documentation'],['GB'],NaN,...,19.659,7.600,5423.0,Anna Shaffer,Self,ACTOR,Movie,"August 26, 2020",2020.0,False
34116,tm1087461,Last Man Down,MOVIE,After civilization succumbs to a deadly pandem...,2021,R,87,"['thriller', 'action', 'scifi']","['SE', 'GB']",NaN,...,358.251,6.273,230213.0,Kamil Lemieszewski,Jorge,ACTOR,NaN,NaN,NaN,False
128,tm700,"10,000 BC",MOVIE,A prehistoric epic that follows a young mammot...,2008,PG-13,109,"['action', 'drama', 'fantasy', 'history', 'thr...","['US', 'ZA']",NaN,...,24.671,5.400,21298.0,Camilla Belle,Evolet,ACTOR,NaN,NaN,NaN,False
11862,tm39030,Casino Royale,MOVIE,"Le Chiffre, a banker to the world's terrorists...",2006,NaN,144,"['action', 'thriller', 'european']","['DE', 'GB', 'US', 'BS', 'CZ']",NaN,...,40.164,7.518,3589.0,Peter Brooke,Airport Policemen,ACTOR,Movie,"August 31, 2020",2006.0,False
21107,tm894619,Feel the Beat,MOVIE,"After failing to make it on Broadway, April re...",2020,G,107,"['comedy', 'drama', 'family']","['US', 'CA']",NaN,...,18.004,7.700,647361.0,Brandon Kyle Goodman,Deco,ACTOR,Movie,"June 19, 2020",2020.0,False
41916,tm116488,Natural Born Killers,MOVIE,Two victims of traumatized childhoods become l...,1994,R,118,"['thriller', 'drama', 'crime', 'action']",['US'],NaN,...,21.933,7.100,14090.0,O-Lan Jones,Mabel,ACTOR,NaN,NaN,NaN,False
14111,tm158304,Contagion,MOVIE,As an epidemic of a lethal airborne virus - th...,2011,PG-13,106,"['drama', 'thriller', 'scifi', 'action']","['AE', 'US']",NaN,...,33.992,6.600,39660.0,Grace Rex,Carrie Anne,ACTOR,NaN,NaN,NaN,False
22151,tm463385,Framing John DeLorean,MOVIE,"A documentary interspersed with acted scenes, ...",2019,NaN,109,"['drama', 'documentation']",['US'],NaN,...,4.842,6.200,29244.0,Dana Ashbrook,Ben Tisa,ACTOR,Movie,"May 5, 2021",2019.0,False
40429,tm326089,Mubarakan,MOVIE,Singleton Kartar Singh is left with the respon...,2017,PG-13,156,"['drama', 'comedy', 'romance']",['IN'],NaN,...,3.731,6.200,65250.0,Arjun Kapoor,Karanveer Singh / Charanveer Singh,ACTOR,Movie,"November 5, 2017",2017.0,False
40576,tm22558,Mukhsin,MOVIE,A twelve-year-old Malaysian boy's friendship w...,2006,NaN,95,"['comedy', 'drama', 'family']",['MY'],NaN,...,2.223,6.800,399553.0,Sharifah Aleya,Mak Inom,ACTOR,Movie,"December 18, 2020",2006.0,False
57672,tm246175,The 101-Year-Old Man Who Skipped Out on the Bi...,MOVIE,Drinking the tasty Folk Soda puts a spring in ...,2016,NaN,108,"['action', 'comedy', 'crime', 'european']",['SE'],NaN,...,7.299,6.400,77964.0,David Schaal,CIA-chef,ACTOR,Movie,"April 25, 2017",2016.0,False
10228,ts6644,Borgen,SHOW,40-year old political leader Birgitte Nyborg s...,2010,TV-MA,58,"['drama', 'european']",['DK'],4.0,...,51.118,8.100,932.0,Birgitte Hjort Sørensen,Katrine Fønsmark,ACTOR,TV Show,"September 1, 2020",2012.0,False
49979,tm327652,"Roxanne, Roxanne",MOVIE,The most feared battle emcee in early-'80s NYC...,2017,NaN,98,"['drama', 'music']",['US'],NaN,...,10.636,6.100,1768.0,Mahershala Ali,Cross,ACTOR,NaN,NaN,NaN,False
51008,tm373655,Sarvam Thaala Mayam,MOVIE,Peter who tries to find his place in the world...,2019,PG,133,"['drama', 'music']",['IN'],NaN,...,2.903,7.200,132208.0,Nedumudi Venu,Vembu Iyer,ACTOR,NaN,NaN,NaN,False
70258,tm1107225,Through My Window,MOVIE,Raquel's longtime crush on her next-door neigh...,2022,R,116,"['drama', 'romance', 'comedy']",['ES'],NaN,...,236.503,7.480,2072962.0,Natalia Azahara,Daniela,ACTOR,NaN,NaN,NaN,False
10387,tm232947,Brahman Naman,MOVIE,This homage to 1980s teen sex comedies follows...,2016,NaN,94,['comedy'],"['IN', 'GB']",NaN,...,2.608,5.600,1806146.0,Tanaya Saigal,Yasmin,ACTOR,Movie,"July 6, 2016",2016.0,False
14488,tm898262,Coven,MOVIE,"French Basque Country, year 1609. The men of a...",2020,NaN,92,"['drama', 'history', 'thriller', 'horror', 'ac...","['ES', 'FR', 'AR']",NaN,...,7.981,6.752,1278436.0,Garazi Urkola,Katalin,ACTOR,NaN,NaN,NaN,False
57016,tm407730,Target,MOVIE,"Trapped in an empty building, nine people are ...",2018,NaN,93,"['horror', 'comedy', 'thriller']",['ID'],NaN,...,1.938,4.100,238033.0,Raditya Dika,Raditya Dika,ACTOR,Movie,"November 20, 2018",2018.0,False
59404,tm1040959,The Circle: The Afterparty,MOVIE,Stars of The Circle drop by to discuss Season ...,2021,NaN,35,[],['US'],NaN,...,1.882,10.000,881409.0,London Hughes,Self,ACTOR,NaN,NaN,NaN,False
34113,tm1087461,Last Man Down,MOVIE,After civilization succumbs to a deadly pandem...,2021,R,87,"['thriller', 'action', 'scifi']","['SE', 'GB']",NaN,...,358.251,6.273,47347.0,Robert Follin,Adam,ACTOR,NaN,NaN,NaN,False
65334,tm117488,The Next Karate Kid,MOVIE,"Mr. Miyagi decides to take Julie, a troubled t...",1994,PG,107,"['action', 'drama', 'family', 'sport', 'romance']",['US'],NaN,...,20.185,5.318,57668.0,Rodney Kageyama,Monk,ACTOR,Movie,"November 1, 2020",1994.0,False
44985,ts235655,Outer Banks,SHOW,A tight-knit group of teens unearths a long-bu...,2020,TV-MA,49,"['thriller', 'action', 'drama', 'romance', 'cr...",['US'],2.0,...,39.319,8.555,954391.0,Jonathan Daviss,Pope Heyward,ACTOR,TV Show,"July 30, 2021",2021.0,True
43324,tm409220,Ojukokoro (Greed),MOVIE,Ojukokoro tells the story of what happens when...,2016,NaN,112,"['thriller', 'comedy', 'crime']",['NG'],NaN,...,0.954,5.500,1889737.0,Kunle Remi,Yemi,ACTOR,NaN,NaN,NaN,False
31459,tm1132176,Jimmy Carr: His Dark Material,MOVIE,Jimmy Carr finds humor in the darkest of place...,2021,NaN,59,['comedy'],['GB'],NaN,...,4.254,6.600,43187.0,Jimmy Carr,Self,ACTOR,NaN,NaN,NaN,False
57011,tm138667,Taramani,MOVIE,An orthodox youngster and a free-spirited lady...,2017,NaN,150,"['drama', 'romance']",['IN'],NaN,...,2.616,6.600,238027.0,J. Sathish Kumar,NaN,ACTOR,Movie,"January 1, 2019",2017.0,False

In [102]:
titles_clean_credits_date_clean_originals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77439 entries, 0 to 77438
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    77439 non-null  object
 1   title                 77439 non-null  object
 2   type_x                77439 non-null  object
 3   description           77392 non-null  object
 4   release_year_x        77439 non-null  int64
 5   age_certification     46392 non-null  object
 6   runtime               77439 non-null  int64
 7   genres                77439 non-null  object
 8   production_countries  77439 non-null  object
 9   seasons               14837 non-null  float64
 10  imdb_id               73929 non-null  object
 11  imdb_score            73457 non-null  float64
 12  imdb_votes            73368 non-null  float64
 13  tmdb_popularity       77341 non-null  float64
 14  tmdb_score            76166 non-null  float64
 15  person_id             77080 non-null  float64
 16  name                  77080 non-null  object
 17  character             67389 non-null  object
 18  role                  77080 non-null  object
 19  type_y                50952 non-null  object
 20  date_added            50952 non-null  object
 21  release_year_y        50952 non-null  float64
 22  is_netflix_original   77439 non-null  bool
dtypes: bool(1), float64(7), int64(2), object(13)
memory usage: 13.1+ MB

In [103]:
netflix_originals = titles_clean_credits_date_clean_originals_df['is_netflix_original'] == True
titles_clean_credits_date_clean_originals_df[netflix_originals]

,id,title,type_x,description,release_year_x,age_certification,runtime,genres,production_countries,seasons,...,tmdb_popularity,tmdb_score,person_id,name,character,role,type_y,date_added,release_year_y,is_netflix_original
3415,ts90023,AlRawabi School for Girls,SHOW,The bullied outcasts at prestigious Al Rawabi ...,2021,TV-14,48,['drama'],['JO'],2.0,...,12.219,7.4,1994094.0,Andria Tayeh,Mariam,ACTOR,TV Show,"August 12, 2021",2021.0,True
3416,ts90023,AlRawabi School for Girls,SHOW,The bullied outcasts at prestigious Al Rawabi ...,2021,TV-14,48,['drama'],['JO'],2.0,...,12.219,7.4,168059.0,Rakeen Saad,Noaf,ACTOR,TV Show,"August 12, 2021",2021.0,True
3417,ts90023,AlRawabi School for Girls,SHOW,The bullied outcasts at prestigious Al Rawabi ...,2021,TV-14,48,['drama'],['JO'],2.0,...,12.219,7.4,1993767.0,Noor Taher,Layan,ACTOR,TV Show,"August 12, 2021",2021.0,True
3418,ts90023,AlRawabi School for Girls,SHOW,The bullied outcasts at prestigious Al Rawabi ...,2021,TV-14,48,['drama'],['JO'],2.0,...,12.219,7.4,1994099.0,Yara Mustafa,Dina,ACTOR,TV Show,"August 12, 2021",2021.0,True
3419,ts90023,AlRawabi School for Girls,SHOW,The bullied outcasts at prestigious Al Rawabi ...,2021,TV-14,48,['drama'],['JO'],2.0,...,12.219,7.4,1994102.0,Salsabiela A.,Roqayya,ACTOR,TV Show,"August 12, 2021",2021.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76864,ts308516,"Young, Famous & African",SHOW,"This reality series follows a crew of famed, a...",2022,TV-MA,43,['reality'],['ZA'],1.0,...,5.222,9.3,2253713.0,Diamond Platnumz,Diamond,ACTOR,NaN,NaN,NaN,True
76865,ts308516,"Young, Famous & African",SHOW,"This reality series follows a crew of famed, a...",2022,TV-MA,43,['reality'],['ZA'],1.0,...,5.222,9.3,2253885.0,Andile Ncube,Andile,ACTOR,NaN,NaN,NaN,True
76866,ts308516,"Young, Famous & African",SHOW,"This reality series follows a crew of famed, a...",2022,TV-MA,43,['reality'],['ZA'],1.0,...,5.222,9.3,2253569.0,Swanky Jerry,Swanky,ACTOR,NaN,NaN,NaN,True
76867,ts308516,"Young, Famous & African",SHOW,"This reality series follows a crew of famed, a...",2022,TV-MA,43,['reality'],['ZA'],1.0,...,5.222,9.3,844816.0,Khanyi Mbau,Khanyi,ACTOR,NaN,NaN,NaN,True
76868,ts308516,"Young, Famous & African",SHOW,"This reality series follows a crew of famed, a...",2022,TV-MA,43,['reality'],['ZA'],1.0,...,5.222,9.3,2230255.0,Annie Macauley-Idibia,Annie,ACTOR,NaN,NaN,NaN,True

In [104]:
titles_clean_credits_date_clean_originals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77439 entries, 0 to 77438
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    77439 non-null  object
 1   title                 77439 non-null  object
 2   type_x                77439 non-null  object
 3   description           77392 non-null  object
 4   release_year_x        77439 non-null  int64
 5   age_certification     46392 non-null  object
 6   runtime               77439 non-null  int64
 7   genres                77439 non-null  object
 8   production_countries  77439 non-null  object
 9   seasons               14837 non-null  float64
 10  imdb_id               73929 non-null  object
 11  imdb_score            73457 non-null  float64
 12  imdb_votes            73368 non-null  float64
 13  tmdb_popularity       77341 non-null  float64
 14  tmdb_score            76166 non-null  float64
 15  person_id             77080 non-null  float64
 16  name                  77080 non-null  object
 17  character             67389 non-null  object
 18  role                  77080 non-null  object
 19  type_y                50952 non-null  object
 20  date_added            50952 non-null  object
 21  release_year_y        50952 non-null  float64
 22  is_netflix_original   77439 non-null  bool
dtypes: bool(1), float64(7), int64(2), object(13)
memory usage: 13.1+ MB

In [106]:
titles_clean_credits_date_clean_originals_df.to_csv(r'C:\Users\pinar\Desktop\General Assembly Coursework to Study\Python\Practice\Netflix\all_merged.csv', index = False)